(function (window) {
    window.ahoy = {
        visitsUrl: "<%= root_url %>ahoy/visits",
        eventsUrl: "<%= root_url %>ahoy/events",
        domainId: window.domainId || undefined
    };

    jQuery.getScript('<%= root_url %>ahoy.js', function () {
        if (window.trackEvents) {
            window.ahoy.trackAll();
        }
    });
})(window);
