<div class="container">
  <div class="row">
      <div class="col-md-12">
          <div class="fs-panel panel-default">
              <div class="panel-heading">
                  <div class="row-fluid user-row inline-head">
                      <%= image_tag "title_logo.png", class: "fs-img-responsive", alt: "BucketBox Login", style: "height: 50px;" %>
                      <%= link_to destroy_user_session_path, method: :delete do %>
                      <i class="fa fa-sign-out fa-3x"></i>
                      <% end %>
                      <a href="#domains" aria-controls="domains" role="pill" data-toggle="tab">
                        <i class="fa fa-life-ring fa-3x"></i>
                      </a>
                      <div class="pull-right-user">
                        <ul class="nav nav-pills">
                          <li role="presentation" class="dropdown" data-toggle="tooltip" data-placement="bottom" title="Edit profile">
                            <a data-toggle="dropdown" href="#" class="dropdown-toggle"><i class="fa fa-user fa-3x"></i>&nbsp;</a>
                            <div class="dropdown-menu dropdown-menu-right" style="padding: 15px; padding-bottom: 0px;">
                              <!-- Profile editor -->
                              <div class="container" style="padding-top: 30px; width: 600px;">
                                <h2 class="page-header">Edit Profile</h2>
                                <div class="row">
                                  <div class="col-md-12 col-sm-6 col-xs-12 personal-info">
                                    <!-- <div class="alert alert-info alert-dismissable">
                                      <a class="panel-close close" data-dismiss="alert">×</a>
                                      <i class="fa fa-coffee"></i>
                                      This is an <strong>.alert</strong>. Use this to show important messages to the user.
                                    </div> -->
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">Profile</div>
                                          <div class="panel-body">
                                            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                                              <%= devise_error_messages! %>

                                              <div class="field">
                                                <%= f.label :first_name %><br />
                                                <%= f.text_field :first_name, :class => "form-control", autofocus: true, value: current_user.first_name %>
                                              </div>

                                              <div class="field">
                                                <%= f.label :last_name %><br />
                                                <%= f.text_field :last_name, :class => "form-control", autofocus: false, value: current_user.last_name %>
                                              </div>

                                              <div class="field">
                                                <%= f.label :email %><br />
                                                <%= f.email_field :email, :class => "form-control", autofocus: false, value: current_user.email %>
                                              </div>

                                              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                                                <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                                              <% end %>

                                              <div class="field">
                                                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                                                <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
                                              </div>

                                              <div class="field">
                                                <%= f.label :password_confirmation %><br />
                                                <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
                                              </div>

                                              <div class="field">
                                                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                                                <%= f.password_field :current_password, :class => "form-control", autocomplete: "off" %>
                                              </div>

                                              <div class="actions">
                                                <%= f.submit "Save Changes", class: "btn btn-primary pull-right" %>
                                              </div>
                                            <% end %>
                                          </div>
                                        </div>
                                      </div>

                                      <div class="col-md-12">
                                        <div class="panel panel-default">
                                          <div class="panel-heading">Unhappy with BucketBox?</div>
                                          <div class="panel-body">
                                            <p>We would hate to see you go, but you can cancel your account at any time by clicking the button below:</p>
                                            <%= button_to "Cancel my account", registration_path(resource_name), class: "btn btn-primary pull-right", data: { confirm: "Are you sure?" }, method: :delete %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <!-- End profile editor -->
                              </div>
                            </div>
                          </li>

                          <!--li role="presentation"><a href="/app"><i class="fa fa-power-off"></i></a></li-->
                        </ul>
                      </div>
                  </div>
              </div>
              <div class="panel-body">
                <div role="tabpanel">
                    <div class="pull-right">
                      <a href="#cloud" aria-controls="cloud" role="pill" data-toggle="tab">
                      <i class="fa fa-cog fa-4x"></i>
                      </a>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="tab_links">
                      <li role="presentation" class="active"><a href="#home" aria-controls="home" role="pill" data-toggle="tab"><div class="panel-elements"><i class="fa fa-align-justify fa-2x"></i>&nbsp;<span>DASHBOARD</span></div></a></li>
                      <li role="presentation"><a href="#buckets" aria-controls="profile" role="pill" data-toggle="tab"><div class="panel-elements"><i class="fa fa-folder-open fa-2x"></i>&nbsp;<span>BUCKETS</span></div></a></li>
                      <li role="presentation"><a href="#files" aria-controls="profile" role="pill" data-toggle="tab"><div class="panel-elements"><i class="fa fa-file fa-2x"></i>&nbsp;<span>FILES</span></div></a></li>
                      <li role="presentation"><a href="#sites" aria-controls="site" role="pill" data-toggle="tab"><div class="panel-elements"><i class="fa fa-desktop fa-2x"></i>&nbsp;<span>SITES</span></div></a></li>
                      <li role="presentation" class=""><a href="#tutes" aria-controls="tutes" role="pill" data-toggle="tab"><div class="panel-elements"><i class="fa fa-play-circle fa-2x"></i>&nbsp;<span>TUTES</span></div></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane active" id="home">
                        <%= render "partials/dashboard" %>
                      </div>

                      <!-- Media management -->
                      <div role="tabpanel" class="tab-pane" id="media">
                        <%= render "partials/media" %>
                      </div>
                      <!-- END media management -->

                      <!-- Bucket management -->
                      <div role="tabpanel" class="tab-pane" id="buckets">
                        <%= render "partials/buckets" %>
                      </div>
                      <!-- END bucket management -->

                      <!-- File management -->
                      <div role="tabpanel" class="tab-pane" id="files">
                        <%= render "partials/files" %>
                      </div>
                      <!-- END file management -->

                      <!-- Domain name management -->
                      <div role="tabpanel" class="tab-pane" id="domains">
                        <%= render "partials/domains" %>
                      </div>
                      <!-- END domain name management -->

                      <!-- Site management -->
                      <div role="tabpanel" class="tab-pane" id="sites">
                        <%= render "partials/sites" %>
                      </div>
                      <!-- END site management -->

                      <!-- Amazon S3 settings management -->
                      <div role="tabpanel" class="tab-pane" id="tutes">
                        <%= render "partials/tutes" %>
                      </div>

                      <div role="tabpanel" class="tab-pane" id="cloud">
                        <%= render "partials/cloud" %>
                      </div>
                      <!-- END Amazon S3 settings management -->
                    </div>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Modals -->
<% if @amazon_key.blank? %>
<div class="modal" id="aws_credentials_modal" tabindex="-1" role="dialog" aria-labelledby="awsCredentialsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="awsCredentialsModalLabel">Welcome to BucketBox!</h4>
      </div>
      <div class="modal-body">
        BucketBox has been designed from the ground up to make it as dead easy as possible to push your websites to Amazon's S3 file hosting service.<p/>
        Let's get started! The first thing you'll need to do is to enter your <strong>access key</strong> and <strong>secret access key</strong> so BucketBox can connect to your S3 account.<p/>
        Need more information on how to do that? Amazon's official description <a href="#"><em>can be found here</em></a>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $("#aws_credentials_modal").modal("show");

    $("#tab_links a[href='#cloud']").tab("show");

    $("[href='#home']").attr("data-toggle", "");
    $("[href='#media']").attr("data-toggle", "");
    $("[href='#domains']").attr("data-toggle", "");
    $("[href='#sites']").attr("data-toggle", "");
  });
</script>
<% end %>
<!-- End modals. -->
