<% unless @sites_count === 0 %>
    <div style="text-align: center; vertical-align: top;"><h3><%= @sites_count %> <%=  @sites_count > 1 ? "sites" : "site" %>.</h3></div>
    <div style="text-align: center; vertical-align: top;"><h3><%= @sites_count - @sites_deployed < @sites_count ? "#{((@sites_deployed.to_f / @sites_count.to_f )*100).to_i}%" : "No sites" %> published.</h3></div>
    <%= pie_chart({"Unpublished" => @sites_count - @sites_deployed, "Published" => @sites_deployed}, width: "210px") %>
<% else %>
    <p>You haven't added any sites to BucketBox yet.</p>
<% end %>