<div class="container">
  <div class="row fs-vertical-offset-100">
    <div class="col-md-12">
      <div class="fs-panel panel-default">
        <div class="panel-heading">
          <div class="row-fluid user-row">
            <%= image_tag "title_logo.png", class: "fs-img-responsive", alt: "BucketBox Login", width: "120" %>
            <%#= image_tag "bucketbox_logo.png", class: "fs-img-responsive", alt: "BucketBox Login", width: "120" %>
          </div>
        </div>

<!-- Profile editor -->
<div class="container" style="padding-top: 30px; width: 800px;">
  <h1 class="page-header">Edit Profile</h1>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>

              <div class="field">
                <%= f.label :first_name %><br />
                <%= f.text_field :first_name, :class => "form-control", autofocus: true, value: current_user.first_name %>
              </div>

              <div class="field">
                <%= f.label :last_name %><br />
                <%= f.text_field :last_name, :class => "form-control", autofocus: false, value: current_user.last_name %>
              </div>

              <div class="field">
                <%= f.label :email %><br />
                <%= f.email_field :email, :class => "form-control", autofocus: false, value: current_user.email %>
              </div>

              <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
              <% end %>

              <div class="field">
                <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
                <%= f.password_field :password, :class => "form-control", autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, :class => "form-control", autocomplete: "off" %>
              </div>

              <div class="field">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password, :class => "form-control", autocomplete: "off" %>
              </div>

              <div class="actions">
                <%= f.submit "Save Changes", class: "btn btn-primary pull-right" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End profile editor -->
</div>
        </div>
      </div>
    </div>