<div class="container">
  <div class="row fs-vertical-offset-100">
      <div class="col-md-6 col-md-offset-3">
          <div class="fs-panel panel-default">
              <div class="panel-heading">
                  <div class="row-fluid user-row">
                    <%= image_tag "title_logo.png", alt: "BucketBox", class: "fs-img-responsive", width: "120" %>
                    <%#= image_tag "bucketbox_logo.png", alt: "BucketBox", class: "fs-img-responsive", width: "120" %>
                  </div>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div style="margin: 0px 20px 0 20px;">Already have an account? <%= render "devise/shared/links" %></div>
                  <div class="col-md-12">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <div class="panel panel-default ">
                        <div class="panel-heading">Account Information</div>
                        <div class="panel-body">
                        <%= devise_error_messages! %>
                          <div class="form-group">
                            <label id="lbl_first_name" for="first_name">First Name:<span style="color: #d40000;">*</span></label>
                            <!--input id="first_name" class="form-control" name="first_name" type="text" placeholder="Please enter your first name." /-->
                            <%= f.text_field :first_name, class: "form-control", placeholder: "Please enter your first name.", autofocus: true %>
                          </div>
                          <div class="form-group">
                            <label id="lbl_last_name" for="last_name">Last Name:<span style="color: #d40000;">*</span></label>
                            <!--input id="last_name" class="form-control" name="last_name" type="text" placeholder="Please enter your surname." /-->
                            <%= f.text_field :last_name, class: "form-control", placeholder: "Please enter your surname." %>
                          </div>
                          <div class="form-group">
                            <label id="lbl_email" for="email">Email:<span style="color: #d40000;">*</span></label>
                            <!--input id="email" class="form-control" name="email" type="text" placeholder="MyName@example.com" /-->
                            <%= f.email_field :email, class: "form-control", placeholder: "MyName@example.com" %>
                          </div>
                          <div class="form-group">
                            <label for="password" id="lbl_password">Password:<span style="color: #d40000;">*</span></label>
                            <!--input type="password" name="password" id="password" class="form-control" placeholder="Please enter a password." /-->
                            <%= f.password_field :password, class: "form-control", placeholder: "Please enter a password.", autocomplete: "off" %>
                          </div>
                          <div class="form-group">
                            <label for="" id="lbl_password_confirm">Confirm password:<span style="color: #d40000;">*</span></label>
                            <!--input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="Please confirm the password you entered above." /-->
                            <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Please confirm the password you entered above.", autocomplete: "off" %>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">Payment Information</div>
                        <div class="panel-body">
                          <div class = "alert alert-info">We use industry standard security procedures to ensure that your information is safe with us. Your payment details will never be stored on our servers.</div>
                          <%= label :way_of_pay, t('.сhoose_way_of_pay') %>
                          <%= select_tag :way_of_pay, options_for_select(@ways), { class: 'form-control' } %>
                          <br>
                          <div class="pay-data" style="display: none;">
                              <div class="form-group">
                                <label id="lbl_card_num" for="card_num">Credit Card Number:<span style="color: #d40000;">*</span></label>
                                <input id="card_num" data-braintree-name="number" class="form-control" type="text" placeholder="1234 5678 9012 3456" data-stripe="number"/>
                              </div>
                              <div class="form-group">
                                <label id="lbl_exp_month" for="exp_month">Expiry Month:<span style="color: #d40000;">*</span></label>
                                <select class="form-control" id="exp_month" data-braintree-name="expiration_month" data-stripe="exp-month">
                                  <option value="01">Jan</option>
                                  <option value="02">Feb</option>
                                  <option value="03">Mar</option>
                                  <option value="04">Apr</option>
                                  <option value="05">May</option>
                                  <option value="06">Jun</option>
                                  <option value="07">Jul</option>
                                  <option value="08">Aug</option>
                                  <option value="09">Sep</option>
                                  <option value="10">Oct</option>
                                  <option value="11">Nov</option>
                                  <option value="12">Dec</option>
                                </select>
                              </div>
                              <div class="form-group">
                                <label id="lbl_exp_year" for="exp_year">Expiry Year:<span style="color: #d40000;">*</span></label>
                                <input id="exp_year" data-braintree-name="expiration_year" class="form-control" type="text" placeholder="2015" data-stripe="exp-year"/>
                              </div>
                              <div class="form-group">
                                <label id="lbl_cvv" for="">CVV (on the back of your card):<span style="color: #d40000;">*</span></label>
                                <input id="cvv" class="form-control" name="cvv" type="text" placeholder="123" data-stripe="cvc"/>
                              </div>
                          </div>
                          <div class = "alert alert-success">
                            <div class="lead">BucketBox service subscription</div>
                            <p style="text-align: center;"><strong>Monthly</strong> subscription plan.</p>
                            <hr />
                            <p class="lead" style="text-align: center;"><strong>TOTAL: </strong>$275 monthly.</p>
                          </div>
                          <%= hidden_field_tag 'stripeToken' %>
                          <%= hidden_field_tag 'stripeEmail' %>
                          <%= hidden_field_tag 'stripeAmount' %>
                          <button class="btn btn-primary btn-lg btn-block" name="subscribe_bttn" id="subscribe_bttn"><i class="fa fa-credit-card"></i> Buy Now!</button>
                          <script>
                              var stripePublicKey = "<%= Rails.configuration.stripe[:publishable_key] %>";
                              var payAmount = "<%= App.pay_amount %>";
                          </script>
                              <%#= f.submit "Buy Now!", class: "btn btn-primary btn-lg btn-block" do %>
                  <!--i class="fa fa-credit-card"></i> Buy Now! -->
                              <%# end %>

                        </div>
                      </div>
                    <% end %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>