---
layout: default
title: Home
---
<%= "<div class='raptor-editable'>".html_safe %>
<div class="home">
  <ul class="posts">
    {% for post in paginator.posts %}
    <li>
      <h1 >{{ post.title }}</h1>
      <span>{{ post.date | date: "%b %-d, %Y" }}</span>
      {{ post.excerpt }}
      <div class="continue">
        <a href="{{ post.url | prepend: site.baseurl }}">&bull;&bull;&bull;</a>
      </div>
    </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if paginator.previous_page %}
      {% if page == 2 %}
        <a class="page-link" href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">prv</a>
      {% else %}
        <a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">prv</a>
      {% endif %}
    {% else %}
      <span class="page-link">prv</span>
    {% endif %}

    <div class="block">
      {% for link in site.links %}
        <a target="{% if link.external %}_blank{% else %}_top{% endif %}" class="main" href="{{ link.url }}">{{ link.name }}</a>
      {% endfor %}
    </div>

    {% if paginator.next_page %}
      <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">nxt</a>
    {% else %}
      <span class="page-link">nxt</span>
    {% endif %}
  </div>

</div>
</div>
