= semantic_form_for :import_site, html: { role: 'form', 'data-toggle' => 'validator', class: 'bs-valid', onsubmit: 'return false' } do |f|
  .modal-header
    = close_modal
    h4#importSiteModalLabel.modal-title Import Site
  .modal-body
    .panel.panel-default
      .panel-heading Importing Your Site
      .panel-body
        p
          | Create a copy of
          em
            strong &#8200;any&#8200;
          | website, hosted on your S3 account.
        = f.inputs do
          = f.input :url, label: 'URL:', input_html: {placeholder: 'http://www.example.com',
                                                      type: 'url',
                                                      required: true }
  .modal-footer
    button.btn.btn-default data-dismiss='modal' type='button'  Close
    button.btn.btn-primary.import-site type='submit'
      span.fa.fa-download &nbsp;Import