= semantic_form_for :import_page, html: { role: 'form', 'data-toggle' => 'validator', class: 'bs-valid', onsubmit: 'return false' } do |f|
  .modal-header
    = close_modal
    h4#importPageModalLabel.modal-title Import Page
  .modal-body
    .panel.panel-default
      .panel-heading Importing Your Page
      .panel-body
        p
          | Create a copy of
          em
            strong &#8200;any&#8200;
          | web page, hosted on your S3 account.
          = f.inputs do
            = f.input :url, label: 'URL:', input_html: { placeholder: 'http://www.example.com',
                                                         type: 'url',
                                                         required: true }
  .modal-footer
    button.btn.btn-default data-dismiss='modal' type='button' Close
    button.btn.btn-primary.import-page type='submit'
      span.fa.fa-cloud-download &nbsp;Import

