script#site_details_tmpl type='text/template'
  .alert.alert-info.alert-dismissible.site-process-status role="alert" style=("display: none;")
    = close_modal
    span#site_process_status_msg
      strong
        | Processing
        br
      | Site is being processed.
  .details-section
    div
      | Site name
    #site_name_view.file-img-pen
      a.toggle-site-name href="javascript:void(0);"
        i.fa.fa-pencil-square.pull-right
      span.pnl-site-name.file_name
    #site_name_edit.input-group style=("display: none;")
      input#site_name.form-control name="site_name" type="text" value="" /
      span.input-group-btn
        button#save_site_name.btn.btn-primary.btn-info type="button" style=("margin-right: 10px;")
          i.fa.fa-floppy-o
      span.input-group-btn
        button.btn.btn-warning.toggle-site-name.btn-info type="button"
          i.fa.fa-times
  .details-section
    .selected-template
      img.selected-template-img alt="" src="" /
      button#edit_site_btn.file-modal-btns.smaller.btn data-target='#edit_site' data-toggle="modal" type='button'
        i.fa.fa-pencil-square
        | EDIT SITE
  hr
  .details-section
    button#add_analitics_btn.btn.btn-primary.pnl-btn.file-modal-btns.smaller data-target="#analytics_modal" data-toggle="modal"
      i.fa.fa-plus-circle
      | ADD ANALYTICS
    button.btn.btn-default.pnl-btn.file-modal-btns.smaller#manage_domains_btn type='button'
      i.fa.fa-desktop
      | MANAGE DOMAINS
    button.btn.btn-primary.pnl-btn.download-site.file-modal-btns.smaller
      i.fa.fa-arrow-circle-down
      i.fa.fa-spinner.fa-spin.site-processing style='display: none;'
      | DOWNLOAD SITE
    button#duplicate_site_btn.btn.btn-primary.pnl-btn.file-modal-btns.smaller
      i.fa.fa-files-o
      | DUPLICATE SITE
    button#publish_site_btn.btn.btn-primary.pnl-btn.publish-site.file-modal-btns.smaller
      i.fa.fa-rocket
      | PUBLISH SITE
    button#unpublish_site_btn.btn.btn-primary.pnl-btn.unpublish-site.file-modal-btns.smaller
      i.fa.fa-pencil-square-o
      | UNPUBLISH SITE
    button.btn.btn-warning.pnl-btn.delete-site.file-modal-btns.smaller type='button'
      i.fa.fa-trash
      | DELETE SITE

/ .details-section
    div
      strong Google Analytics:
    #site_ganalytics_view
      a.toggle-site-ganalytics href="javascript:void(0);"
        i.fa.fa-pencil-square-o
      span.pnl-site-ganalytics
    #site_ganalytics_edit.input-group style=("display: none;")
      input#site_ganalytics.form-control name="site_ganalytics" type="text" value="" /
      span.input-group-btn
        button#save_site_ganalytics.btn.btn-primary type="button"
          i.fa.fa-floppy-o
      span.input-group-btn
        button.btn.btn-warning.toggle-site-ganalytics type="button"
          i.fa.fa-times
  .details-section
    div
      strong Created:
    .site-created-at
  .details-section
    strong Pages:
    br
    ul.pnl-site-pages

