<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body>

      <div class="container raptor-editable">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

      </div>

    </body>
</html>
