<div class="page-header">
<h1>Visits (<%= @visits.count %>)
</h1>
</div><div class="row">
<div class="col-md-12">
<table class="table table-striped">
<thead>
<tr>
<th>Started at</th>
<th>IP</th>
<th>OS</th>
<th>Browser</th>
<th>Device</th>
<th>Screen</th>
<th>Country
</th>
</tr></thead><tbody>
<% @visits.each do |visit| %>
<tr class="success">
  <td><%= visit.started_at %></td>
  <td><%= visit.ip %></td>
  <td><%= visit.os %></td>
  <td><%= visit.browser %></td>
  <td><%= visit.device_type %></td>
  <td><%= visit.screen_resolution %></td>
  <td><%= visit.country %></td>
</tr>
<tr>
    <td colspan="2">
    <strong>Visitor ID:</strong>
     <%= visit.visitor_id %>
    </td>
    <td colspan="3">
    <strong>Landing Page:</strong>
     <%= visit.landing_page %>
    </td>
    <td colspan="3">
    <strong>Referring Domain:</strong>
     <%= visit.referring_domain %>
    </td>
    </tr><tr>
    <td colspan="5">
    <strong>User Agent:</strong>
     <%= visit.user_agent %>
    </td>
    <td colspan="3">
    <strong>GPS:</strong>
     <%= visit.lat_lon %>
    </td>
</tr><% end %></tbody></table></div></div>
