<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.author }} &#8226; {{ site.tagline | strip_html }}</title>

  <link rel="apple-touch-icon" href="{{ site.logo }}"/>
  <link rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" href="{{ site.url }}/favicon.ico" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/main.css">
  <%= "<style>".html_safe %>
  <%= render file: "./app/views/sites/#{@directory}/assets/normalize.css" %>
  <%= render file: "./app/views/sites/#{@directory}/assets/main.css" %>
  <% ############################################ %>
  <%= "<style>".html_safe %>
  <%= stylesheet_link_tag "/stylesheets/raptor-front-end.min.css" %>
  <%= "</style>".html_safe %>
  <%= "<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>".html_safe %>
  <%= "<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>".html_safe %>
  <%= "<script type='text/javascript'>".html_safe %>
  <%= render file: "./vendor/assets/javascripts/bootstrap.min.js" %>
  <%= "</script>".html_safe %>
  <%= javascript_include_tag "/assets/javascripts/raptor.min.js" %>
  <%= "<script type='text/javascript'>".html_safe %>
  <%= "raptor(function($) { $('.raptor-editable').raptor() });".html_safe %>
  <%= "</script>".html_safe %>
  <% ############################################ %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>

  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.tagline }}"/>

  <meta property="og:title" content="{{ site.tagline }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
  <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}{{ site.logo }}"/>
  <meta property="og:description" content="{{ site.description }}"/>
  <meta property="og:site_name" content="{{ site.tagline }}">

  {% if site.include_analytics %}
  {% include analytics.html %}
  {% endif %}
</head>
