/* Website template by freewebsitetemplates.com */
body {
	background: url(../images/bg-body.jpg) repeat;
	color: #5b5d69;
	font-family: 'open_sansregular';
	font-size: 12px;
	margin: 0;
	min-width: 960px;
	padding: 0;
}
@font-face {
	font-family: 'open_sansregular';
	src: url('../fonts/opensans-regular-webfont.eot');
	src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-regular-webfont.woff') format('woff'),
	url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
	url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'gorditasregular';
	src: url('../fonts/gorditas-regular-webfont.eot');
	src: url('../fonts/gorditas-regular-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gorditas-regular-webfont.woff') format('woff'),
	url('../fonts/gorditas-regular-webfont.ttf') format('truetype'),
	url('../fonts/gorditas-regular-webfont.svg#gorditasregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_semiboldregular';
	src: url('../fonts/opensans-semibold-webfont.eot');
	src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-semibold-webfont.woff') format('woff'),
	url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
	url('../fonts/opensans-semibold-webfont.svg#open_sans_semiboldregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'open_sans_semibolditalic';
	src: url('../fonts/opensans-semibolditalic-webfont.eot');
	src: url('../fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
	url('../fonts/opensans-semibolditalic-webfont.woff') format('woff'),
	url('../fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
	url('../fonts/opensans-semibolditalic-webfont.svg#open_sans_semibolditalic') format('svg');
	font-weight: normal;
	font-style: normal;
}
a {
	outline: none;
}
img { 
	border: 0;
}
p {
	line-height: 24px;
	margin: 0;
}
p a {
	color: #525252;
}
p a:hover {
	color: #4fa2c2;
}
#header {
	background: #ebead1;
	margin: 6px 0 0;
	min-height: 618px;
	width: 100%;
}
#header div {
	margin: 0 auto;
	overflow: hidden;
	width: 960px;
}
#header div div:first-child {
	float: left;
	padding: 35px 0 0;
	position: relative;
	width: auto;
}
#header div:first-child img {
	display: block;
}
#header div:first-child a.play {
	background: url(../images/interface.png) no-repeat;
	height: 61px;
	left: 315px;
	position: absolute;
	text-decoration: none;
	text-indent: -99999px;
	top: 235px;
	width: 61px;
}
#header div:first-child a.play:hover {
	background: url(../images/interface.png) no-repeat -61px 0;
}
#body div div#news div.aside ul li a img,
#body div div.gallery div.aside div.section a img,
{
	display: block;
	filter: alpha(opacity=100);
	opacity: 1;
}
#body div div.section div ul.gallery li a img:hover,
#body div div#news div.aside ul li a img:hover,
#body div div.gallery div.aside div.section a img:hover,
#body div div.gallery div.aside ul.gallery li a img:hover {
	filter: alpha(opacity=80);
	opacity: 0.8;
}
#header div div {
	float: left;
	margin: 0;
	width: 288px;
}
#header div div a#logo img,
#body div div#content div#sidebar img#iphone,
#body div div div.sidebar img#iphone,
#body div div.gallery div.aside div.section img {
	display: block;
}
#header div div p {
	color: #5a3f05;
	font-family: 'open_sans_semiboldregular';
	letter-spacing: -0.025em;
	margin: 0 0 0 35px;
	text-align: center;
	width: 240px;
}
#header div div a#clickhere {
	background: url(../images/interface.png) no-repeat 0 -250px;
	color: #ffffff;
	display: block;
	font-family: 'gorditasregular';
	font-size: 30px;
	height: 67px;
	line-height: 67px;
	margin: 30px 0 0 51px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 -3px 0 #b02525;
	width: 192px;
}
#header div div a#clickhere:hover {
	background: url(../images/interface.png) no-repeat 0 -317px;
}
#header div div a#clickhere2 {
	background: url(../images/interface.png) no-repeat 0 -134px;
	color: #fdfcfb;
	display: block;
	font-size: 16px;
	height: 48px;
	margin: 18px 0 0 70px;
	text-align: center;
	text-decoration: none;
	padding: 5px 0 0 40px;
	width: 115px;
}
#header div div a#clickhere2:hover {
	background: url(../images/interface.png) no-repeat 0 -187px;
}
#header div div a#clickhere2 span {
	display: block;
	font-family: 'open_sans_semiboldregular';
	letter-spacing: -0.025em;
	line-height: 19px;
}
#header div div a#clickhere2 span {
	background: none;
	font-size: 9px;
	height: auto;
	margin: 0;
	text-transform: lowercase;
	width: auto;
}
#header ul {
	background: #ffffff;
	height: 53px;
	list-style: none;
	margin: 0 auto;
	overflow: hidden;
	padding: 19px 0 0 3px;
	width: 933px;
}
#header ul li {
	float: left;
	margin: 0 0 0 33px;
	width: 147px;
}
#header ul li a {
	color: #96ccfa;
	display: block;
	font-family: 'gorditasregular';
	font-size: 18px;
	height: 53px;
	line-height: 48px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fffcfc;
}
#header ul li.current a {
	background: url(../images/interface.png) no-repeat 0 -71px;
	color: #21318a;
	text-shadow: 1px 1px 1px #ffffff;
}
#body {
	background: url(../images/bg-content.png) no-repeat;
	margin: 0 auto 36px;
	width: 960px;
}
#body div {
	background: #ffffff;
	margin: 0 auto;
	padding: 24px 0;
	width: 936px;
}
#body div span {
	border-bottom: 1px solid #d2e0e6;
	display: block;
	margin: 0 auto 41px;
	padding: 0;
	width: 864px;
}
#body div div#home,
#body div div#about,
#body div div#news,
#body div div.gallery, 
#body div div#link1 {
	border-top: 1px solid #d2e0e6;
	background: none;
	margin: 0 auto;
	padding: 41px 0 30px;
	width: 864px;
}
#body div div#home,
#body div div.gallery,
#body div div#about,
#body div div#news,
#body div div#link1,
#body div div#news div.aside ul li {
	overflow: hidden;
}
#body div div.section div div {
	background: none;
	border-radius: 0;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: auto;
}
#body div div#home div.aside,
#body div div#about div.aside,
#body div div#news div.aside,
#body div div#link1 div.aside {
	background: none;
	float: left;
	margin: 0;
	padding: 0;
	width: 615px;
}
#body div div.gallery {
	background:none;
	border: none;
	margin: 0;
	padding: 0 36px 0 24px;
	width: auto;
}
#body div div.gallery div.aside {
	background: none;
	float: left;
	padding: 0;
	width: 625px;
}
#body div div.gallery div.aside div.section,
#body div div.gallery div.aside div.section div,
#body div div.gallery div.aside div.section div div {
	background: none;
	border-radius: 0;
	height: auto;
	margin: 0;
	padding: 0;
	width: auto;
}
#body div div.gallery div.aside div.section {
	padding: 0 12px;
}
#body div div.gallery div.aside div.section div {
	overflow: hidden;
	padding: 19px 0 0;
	width: 600px;
}
#body div div.gallery div.aside div.section div a {
	background: url(../images/interface.png) no-repeat -136px 0;
	color: #21318a;
	display: block;
	font-family: 'gorditasregular';
	font-size: 14px;
	height: 28px;
	line-height: 25px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #ffffff;
	width: 76px;
}
#body div div.gallery div.aside div.section div a:hover {
	background: url(../images/interface.png) no-repeat -136px -27px;
}
#body div div.gallery div.aside div.section div a#zoom {
	float: left;
}
#body div div.gallery div.aside div.section div div {
	float: right;
	width: 171px;
}
#body div div.gallery div.aside div.section div div a.prev {
	float: left;
}
#body div div.gallery div.aside div.section div div a.next {
	float: right;
}
#body div div.gallery div.aside ul.gallery {
	overflow: hidden;
	padding: 0 0 0 6px;
}
#body div div.gallery div.aside ul.gallery li {
	float: left;
	margin: 15px 6px 5px;
}
#body div div#home div.aside h1 {
	color: #ea5959;
	font-family: 'gorditasregular';
	font-size: 38px;
	font-weight: normal;
	line-height: 36px;
	margin: 0;
	padding: 0 0 28px;
}
#body div div#home div.aside h1 a:hover,
#body div div#news div.aside ul li div h2 a:hover,
#body div div#news div.aside ul li div a.readmore:hover,
#body div div#news div.aside div.paging a:hover {
	color: #fac550;
}
#body div div#about div.aside h2,
#body div div#news div.aside h2,
#body div div#link1 div.aside h2 {
	color: #ea5959;
	font-family: 'gorditasregular';
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 20px 0 0;
}
#body div div#home div.aside p {
	padding: 0 0 25px;
}
#body div div#about div.aside p {
	padding: 5px 0 5px;
}
#body div div#link1 div.aside p {
	padding: 25px 0 0;
}
#body div div#home div.aside a.readmore {
	color: #fabb4f;
	display: inline-block;
	font-family: 'gorditasregular';
	font-size: 20px;
	line-height: 36px;
	padding: 5px 0 0;
}
#body div div#home div.aside a.readmore:hover {
	 color: #fae0b4;
}
#body div div#news div.aside ul,
#body div div.gallery div.aside ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#body div div#news div.aside ul li {
	margin: 0 0 22px;
}
#body div div#news div.aside ul li a {
	display: inline-block;
	float: left;
}
#body div div#news div.aside ul li a img {
	margin: 5px 0 0;
}
#body div div#news div.aside ul li div {
	background: none;
	float: left;
	margin: 0 0 0 26px;
	padding: 0;
	width: 500px;
}
#body div div#news div.aside ul li div p a {
	float: none;
}
#body div div#news div.aside ul li div h2 {
	color: #EA5959;
	font-family: 'gorditasregular';
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body div div#news div.aside ul li div a.readmore {
	color: #ea2327;
	float: right;
	font-size: 10px;
	font-style: italic;
	padding: 15px 0 0;
	text-decoration: none;
}
#body div div#news div.aside div.paging,
#body div div.gallery div.aside div.paging {
	background: none;
	margin: 0;
	padding: 30px 0 0;
	text-align: center;
	width: auto;
}
#body div div.gallery div.aside div.paging {
	padding: 10px 0 0;
}
#body div div#news div.aside div.paging a,
#body div div.gallery div.aside div.paging a {
	color: #a2a2a1;
	display: inline;
	float: none;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 20px;
	padding: 0 5px;
	text-decoration: none;
}
#body div div.gallery div.aside div.paging a:hover {
	color: #2d3d96;
}
#body div div#news div.aside div.paging ul,
#body div div.gallery div.aside div.paging ul {
	background: none;
	display: inline;
	margin: 0;
}
#body div div#news div.aside div.paging ul li,
#body div div.gallery div.aside div.paging ul li {
	display: inline;
	margin: 0;
}
#body div div div.sidebar {
	background: none;
	float: right;
	margin: 0;
	padding: 0;
	width: 217px;
}
#body div div div.sidebar div {
	background: #e3eff4;
	border-radius: 5px;
	height: 102px;
	margin: 0 0 0 7px;
	padding: 6px 0 0;
	position: relative;
	width: 210px;
}
#body div div div.sidebar div h2 {
	background: url(../images/interface.png) no-repeat 0 -436px;
	color: #ffffff;
	font-family: 'gorditasregular';
	font-size: 24px;
	font-weight: normal;
	height: 39px;
	line-height: 32px;
	margin: 0 0 0 -6px;
	text-indent: 24px;
	text-shadow: 0 2px 0 #aa771f;
	width: 211px;
}
#body div div div.sidebar div a {
	display: block;
	float: left;
	height: 32px;
	text-indent: -99999px;
}
#body div div div.sidebar div a#twitter {
	background: url(../images/icons.png) no-repeat 0 0;
	margin: 15px 0 0 11px;
	width: 38px;
}
#body div div div.sidebar div a#facebook {
	background: url(../images/icons.png) no-repeat 0 -41px;
	margin: 15px 0 0 39px;
	width: 31px;
}
#body div div div.sidebar div a#googleplus {
	background: url(../images/icons.png) no-repeat 0 -82px;
	margin: 15px 0 0 42px;
	width: 32px;
}
#body div div div.sidebar img#iphone {
	display: inline-block;
	margin: 24px 0 0 11px;
}
#body div div.section {
	margin: 0 0 0 13px;
	padding: 18px 0 0;
	width: 911px;
}
#body div div.section div {
	background: #e3eff4;
	border-radius: 3px;
	height: 162px;
	margin: 0 0 0 11px;
	padding: 6px 0 0;
	width: 900px;
}
#body div div.section div h2 {
	background: url(../images/interface.png) no-repeat 0 -394px;
	color: #ffffff;
	font-family: 'gorditasregular';
	font-size: 24px;
	font-weight: normal;
	height: 42px;
	line-height: 32px;
	margin: 0 0 0 -11px;
	text-indent: 24px;
	text-shadow: 0 2px 0 #aa771f;
	width: 211px;
}
#body div div.section div div ul.gallery {
	float: left;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0 9px 0 3px;
}
#body div div.section div div ul.gallery li {
	float: left;
	margin: 0 9px;
}
#body div div.section div div ul.gallery li a img,
#body div div.gallery div.aside ul.gallery a img {
	border: 1px solid #4e0406;
	display: block;
	filter: alpha(opacity=100);
	opacity: 1;
}
#body div div.section div div div.paging {
	background: none;
	border-radius: 0;
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
	width: 180px;
}
#body div div.section div div div.paging a.next {
	background: #b4cdd7;
	color: #ffffff;
	border-radius: 3px;
	display: block;
	font-family: 'gorditasregular';
	font-size: 30px;
	height: 72px;
	letter-spacing: -0.025em;
	line-height: 72px;
	text-align: center;
	text-decoration: none;
}
#body div div.section div div div.paging a.next:hover {
	background: #fedf95;
	color: #ffffff;
}
#body div div.section div div div.paging div a:hover {
	color: #62d0fd;
}
#body div div.section div div div.paging div {
	background: none;
	border-radius: 0;
	height: auto;
	margin: 0;
	padding: 18px 0 0;
	text-align: center;
	width: auto;
}
#body div div.section div div div.paging div a {
	color: #1d72b9;
	font-family: 'open_sans_semibolditalic';
	font-size: 14px;
	letter-spacing: -0.025em;
	text-decoration: none;
}
#body div div.section div div div.paging div a.prev {
	border-right: 1px solid #1d72b9;
	display: inline;
	padding: 0 13px 0 0;
}
#body div div.section div div div.paging div ul {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 0 0 5px;
}
#body div div.section div div div.paging div ul li {
	display: inline;
	padding: 0 3px;
}
#footer {
	background: #152060;
	border-radius: 3px;
	font-size: 12px;
	height: 60px;
	margin: 0 auto 47px;
	overflow: hidden;
	padding: 0 12px;
	width: 936px;
}
#footer ul {
	float: left;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 25px 0 0;
}
#footer ul li {
	float: left;
}
#footer ul li:first-child a {
	border: none;
	padding: 0 18px 0 0;
}
#footer ul li a {
	border-left: 1px solid #364dd2;
	color: #364dd2;
	display: block;
	line-height: 12px;
	padding: 0 18px;
	text-decoration: none;
}
#footer ul li a:hover {
	color: #3699d2;
}
#footer p {
	color: #364dd2;
	float: right;
	line-height: 60px;
}