<% if buckets_count > 6 %>
    <ul class="pagination">
      <% if buckets_count % 6 > 0 %>
          <% x = (buckets_count / 6) + 1 %>
      <% else %>
          <% x = buckets_count / 6 %>
      <% end %>
      <% c = 1 %>
      <%= until c > x do %>
          <li><a href="#"<% if c == 1 %> class="active"<% end %>><%= c %></a></li>
          <% c += 1 %>
      <% end %>
    </ul>
<% end %>