<% if buckets.count > 0 %>
    <% buckets.each do |bucket| %>
        <% if bucket.label.size >= 30 %>
            <% bucket_name = bucket.label.truncate(30) %>
        <% else %>
            <% bucket_name = bucket.label %>
        <% end %>
        <div class="media_overlay bucket-link" data-id="<%= bucket.id %>"><a href="javascript:void(0);">
          <%= image_tag "folder.png", style: "max-height: 175px; max-width: 175px; border: none;" %>
          <div class="desc" style="padding: 3px 3px 3px 5px;"><%= bucket_name %></div></a></div>
    <% end %>
<% else %>
    <p class="lead">You haven't created any buckets in BucketBox yet.</p>
    <div class="flex-center" style="width: 100%;"><button type="button" class="btn btn-primary add-bucket-btn"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create Your First Bucket</button></div>
<% end %>