<select name="buckets_list" id="buckets_list" class="form-control">
  <option value="">Select a bucket...</option>
<% buckets.each do |bucket| %>
      <option value="<%= bucket.id %>"><%= bucket.label %></option>
<% end %>
</select>