<!-- Templates -->
<script type="text/template" id="bucket_details">
  <div class="details-section"><strong>Bucket name:</strong><br/>
    <span id="bucket_name"></span>
  </div>
  <div class="details-section"><strong>Number of items:</strong><br/>
    <span id="bucket_item_count">2</span>
  </div>
  <div class="details-section"><strong>Images:</strong><br/>
    <span id="bucket_image_count">3</span>
  </div>
  <div class="details-section"><strong>Sound files:</strong><br/>
    <span id="bucket_audio_count">4</span>
  </div>
  <div class="details-section"><strong>Videos:</strong><br/>
    <span id="bucket_video_count">5</span>
  </div>
  <div class="details-section"><strong>Documents:</strong><br/>
    <span id="bucket_docs_count">5</span>
  </div>
  <div class="details-section">
    <button class="btn btn-info open-bucket-btn" style="width: 100%;" data-toggle="modal" data-target="#open_bucket_modal"><i class="fa fa-folder"></i>&nbsp;Open Bucket</button>
  </div>
  <div class="details-section">
    <button class="btn btn-warning delete-bucket" style="width: 100%;" data-toggle="modal" data-target=""><i class="fa fa-trash"></i>&nbsp;Delete Bucket</button>
  </div>
</script>

<script type="text/template" id="bucket_content_details_template">
  <div class="details-section"><strong>Name:</strong><br/>
    <span id="bucket_content_name"></span>
  </div>
  <div class="details-section" id="bucket_content_details_image" style="text-align: center;"></div>
  <div class="details-section" id="bucket_content_links"><strong>Links:</strong><br/>
    <ul id="bucket_content_links_list"></ul>
  </div>
  <div class="details-section">
    <button class="btn btn-warning bucket-media-remove-link" style="width: 100%;" data-id="" data-media-type="" id="bucket_media_remove_btn"><i class="fa fa-close"></i>&nbsp;Remove From Bucket</button>
  </div>
</script>
<!-- End templates -->

<div id="bucket">
<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="panel-title bdown">YOUR BUCKETS</strong>
      <div class="bucket-panel-title">
        <a href="#" class="pull-right add-bucket-btn">
          <div class="panel-elements gray-btn">
          <i class="fa fa-plus-circle"></i>&nbsp;ADD BUCKET
          </div>
        </a>
      </div>
    </div>
      <div class="panel-body">

      <hr class="first-panel-body-hr">
        <nav style="text-align: center;" class="buckets-nav">
          <% if @site_buckets.count > 6 %>
              <%#= will_paginate @site_images, renderer: BootstrapPagination::Rails %>
              <ul class="pagination">
                <% if @site_buckets.count % 6 > 0 %>
                    <% x = (@site_buckets.count / 6) + 1 %>
                <% else %>
                    <% x = @site_buckets.count / 6 %>
                <% end %>
                <% c = 1 %>
                <%= until c > x do %>
                    <li><a href="#"<% if c == 1 %> class="active"<% end %>><%= c %></a></li>
                    <% c += 1 %>
                <% end %>
              </ul>
          <% end %>
        </nav>



        <div class="media-overlay-container flex-center flex-wrapped bucket-container">
          <% if @site_buckets.count > 0 %>
              <% @site_buckets.each do |bucket| %>
                  <% if bucket.label.size >= 30 %>
                      <% bucket_name = bucket.label.truncate(30) %>
                  <% else %>
                      <% bucket_name = bucket.label %>
                  <% end %>
                  <div class="media_overlay bucket-link" data-id="<%= bucket.id %>"><a href="javascript:void(0);">
                    <%= image_tag "folder.png", style: "max-height: 175px; max-width: 175px; border: none;" %>
                    <div class="desc" style="padding: 3px 3px 3px 5px;"><%= bucket_name %></div></a></div>
              <% end %>
          <% else %>
              <p class="lead">You haven't created any buckets in BucketBox yet.</p>
              <div class="flex-center" style="width: 100%;"><button type="button" class="btn btn-primary add-bucket-btn"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Create Your First Bucket</button></div>
          <% end %>
        </div>

    </div>
  </div>
</div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="panel-title">Bucket Details</strong>
      </div>
      <div class="panel-body bucket-details-panel">
      <hr>
        Click on a bucket from your list to view its details.
      </div>
    </div>
  </div>
</div>

<!-- Modals -->
  <!-- Create bucket modal. -->
  <div class="modal fade" id="create_bucket_modal" tabindex="-1" role="dialog" aria-labelledby="createBucketModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="createBucketModalLabel">Create a Bucket</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="bucket_name_txt">Bucket Name</label><br/>
            <input type="text" id="bucket_name_txt" class="form-control" style="width: 100%;" placeholder="Project #1" required data-fv-notempty="true" data-fv-notempty-message="Bucket name is required and cannot be empty" />
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning create-bucket" disabled>Create This Bucket</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End create bucket modal. -->

<!-- Delete bucket modal. -->
<div class="modal fade" id="delete_bucket_modal" tabindex="-1" role="dialog" aria-labelledby="deleteBucketModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteBucketModalLabel">Delete This Bucket</h4>
      </div>
      <div class="modal-body">
        <h2>Warning!</h2>
        <p>You are about to delete this bucket, which cannot be undone.</p>
        <p>Continue?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning remove-bucket"><i class="fa fa-trash"></i>&nbsp;Delete This Bucket</button>
      </div>
    </div>
  </div>
</div>
<!-- End delete bucket modal. -->

<!-- Open bucket modal. -->
<div class="modal fade" id="open_bucket_modal" tabindex="-1" role="dialog" aria-labelledby="openBucketModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="openBucketModalLabel">Open A Bucket</h4>
      </div>
      <div class="modal-body">
        <div class="col-md-6" id="bucket_contents"></div>
        <div class="col-md-6" id="bucket_content_details"></div>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
<!-- End open bucket modal. -->
<!-- End Modals -->
</div>
</div>
