<% if @amazon_key == nil
	access_key = nil
	secret_access_key = nil
else
	access_key = @amazon_key.access_key
	secret_access_key = @amazon_key.secret_access_key
end %>

<div class="row">
	<div class="col-md-11">
		<h3>Amazon S3 & Google Analytics Settings</h3>
		<p>Include required details to connect to a specific Amazon S3 account PER USER.</p>

		<div class="panel panel-default">
			<div class="panel-heading">Amazon S3 Credentials</div>
			<div class="panel-body">
              If you haven't already created your access keys, you can create them using the AWS Management Console. Amazon recommends you use IAM access keys instead of AWS root account access keys.<br/>
              See <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html" target="_BLANK">this article for details on how to set up your S3 access keys</a>.
				<div class="form-group">
					<input type="text" class="form-control" id="s3_access_key" placeholder="S3 Access Key(like AKIAIOSFODNN7EXAMPLE)" value="<%= access_key %>" required />
					<input type="text" class="form-control" id="secret_access_key" placeholder="Secret Access Key(like wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY)" value="<%= secret_access_key %>" required />
					<div class="row" style="padding-top: 25px;">
						<div class="col-md-12">
							<div style="display: inline-block;">
								<a href="#" id="test_connection">
						            <div class="panel-elements gray-btn" style="margin: 10px">
						              <span>Test connection</span>
						            </div>
						        </a>
						    </div>
						    <div style="display: inline-block;">    
						        <a href="#" id="save_aws_credentials_btn">
						            <div class="panel-elements gray-btn" style="margin: 10px">
						              <span>Save keys</span>
						            </div>
					        	</a>
					        </div>
					        <div tyle="display: inline-block;">
								<a href="#" id="cloud_getting_report">
						            <div class="panel-elements gray-btn" style="margin: 10px">
						              <span>Getting reports</span>
						            </div>
						        </a>
						    </div>    
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="test_connection_modal" tabindex="-1" role="dialog" aria-labelledby="createBillingReportModal" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createBillingReportModal">Testing AWS Connection</h4>
      </div>
      <div class="modal-body">
      	<hr>
      	<div role="tabpanel" hidden>
          <ul class="nav nav-tabs" role="tablist">
            <a href="#test_credentials_state_1" aria-controls="dashboard" role="tab" data-toggle="tab"></a>
            <a href="#test_credentials_state_2" aria-controls="dashboard" role="tab" data-toggle="tab"></a>
            <a href="#test_credentials_state_3" aria-controls="dashboard" role="tab" data-toggle="tab"></a>
          </ul>
        </div>

  		<div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="test_credentials_state_1">
	        <div class="row">
		      <div class="first-step col-md-5">
		      	<span><p>Attempting to</p><p> Connect to S3...</p></span>
		      </div>
		      <div class="col-md-2">	
		      	<i class="fa fa-angle-right fa-5x"></i>
		      </div>
		      <div class="second-step col-md-5"></div>
			</div>    
          </div>

          <div role="tabpanel" class="tab-pane" id="test_credentials_state_2">
            <div class="row">
              <div class="first-step col-md-3">
			   	<span><p>Attempting to</p><p> Connect to S3...</p></span>
			      </div>
			    <div class="col-md-1">	
			      <i class="fa fa-angle-right fa-5x"></i>
			    </div>
			    <div class="second-step col-md-4">
			      <span><p>Connected.</p><p> Testing Credentials...</p></span>
			    </div>
	            <div class="col-md-1">	
			      <i class="fa fa-angle-right fa-5x"></i>
			    </div>
			    <div class="third-step col-md-3">
			      <span>Connection failed</span>
			    </div>	
		      </div>
            </div>
            <div role="tabpanel" class="tab-pane active" id="test_credentials_state_3">
		        <div class="row">
					<div id="status_credentials" style="padding: 30px" class="centered"></div>		
				</div>    
	          </div>
          </div>
          <div class='button-area'>
              <a href="#" id="configure_aws_automatically" hidden>
                <div class="panel-elements gray-btn" style="margin: 10px; float: right;">
                  <span>Attepmt to Configure AWS Automatically</span>
                </div>
    	      </a>
    	      <a id="close_test_connection_modal" href="#" style="opacity: 1" class="close" data-dismiss="modal" aria-label="Close" hidden> 
                <div class="panel-elements gray-btn" style="margin: 10px">
                  <span>Close Test</span>
                </div>
    	      </a>
            </div>

	      	
		     
	   <!--  </div>

	    <a href="#" id="configure_aws_automatically">
            <div class="panel-elements gray-btn" style="margin: 10px">
              <span>Attepmt to Configure AWS Automatically</span>
            </div>
    	</a>
    	<a href="#" class="close" data-dismiss="modal" aria-label="Close"> 
            <div class="panel-elements gray-btn" style="margin: 10px">
              <span>Close Test</span>
            </div>
    	</a>
    	<span>Your AWS Account has been successfully updated</span>
    	<span>We could not verify or update your AWS credentials.</span>
    	<span>Please visit your AWS console and create a new API key</span> -->
      </div>
    </div>
  </div>
</div>        

        

<div class="modal" id="create_billing_report_modal" tabindex="-1" role="dialog" aria-labelledby="createBillingReportModal" aria-hidden="true"> 
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="createBillingReportModal">Amazon Status Setup</h4>
      </div>
      <div class="modal-body">
        <div role="tabpanel">
          <ul class="nav nav-tabs" role="tablist" id="function_tabs">
            <li role="presentation" class="active"><a href="#step_1" aria-controls="dashboard" role="tab" data-toggle="tab"><div class="active-step"><p>Step 1:</p><p>Create your report bucket</p></div></a></li>
            <li role="presentation" class="disabled"><a href="#step_2" aria-controls="dashboard" role="tab" data-toggle="tab"><div class="active-step"><p>Step 2:</p><p>Configure AWS</p></div></a></li>
            <li role="presentation" class="disabled"><a href="#step_3" aria-controls="dashboard" role="tab" data-toggle="tab"><div class="active-step"><p>Step 3:</p><p>Verify Setup</p></div></a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="step_1">
            <div class="row">
              <div class="panel-body" style="height: 228px">
                <p>You can now get AWS usage data right in BucketBox. To get started, you'll need to create a special bucket.</p>
                <a href="#" id="create_report_bucket">
		            <div class="panel-elements gray-btn" style="margin-top: 58px; width: 400px; margin-left: 73px;">
		              <p>Create My Reports Bucket Now</p>
		            </div>
		        </a>
              </div>  
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step_2">
            <div class="row">
              <div class="panel-body" style="height: 228px">
                <p>Next, you will need to login to your AWS Console and give permission to use the new bucket to store your reports.</p>
                <div style="margin-left:80px">
                	<label>Your bucket name is:</label>
	                <div id="go_to_aws_console" href="https://console.aws.amazon.com/billing/home" class="bucket-name-for-console"><div id='report_bucket_name'></div></div>
	              	<a target="_BLANK" href="https://console.aws.amazon.com/billing/home?region=us-east-1#/preferences" id="create_report_bucket">
			            <div class="panel-elements gray-btn" style="margin-top: 10px; width: 400px; height: 50px;">
			              <p>Go To my AWS Console</p>
			            </div>
			        </a>
	            </div>    
              </div>  
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="step_3">
            <div class="row">
              <div class="panel-body" style="height: 228px">
                <p>Our last step is to verify that the report setup is correct.</p>
                <a href="#" id="test_report_setup">
		            <div class="panel-elements gray-btn" style="margin-top: 77px; width: 400px; margin-left: 65px;">
		              <p>Test My Report Setup</p>
		            </div>
			    </a>
			    <a href="#" style="margin-left:145px">Something went wrong. It didn't work.</a>
              </div>  
            </div>
          </div>
        </div>    
        
      </div>
    </div>
  </div>
</div>

<%#div class="row">
	<div class="col-md-11">
		<div class="panel panel-default">
			<div class="panel-heading">Google Analytics API Key</div>
			<div class="panel-body">
				Visit https://console.developers.google.com/project to activate the Google Analytics API.
				<div class="form-group">
					<input type="text" class="form-control" id="ga_client_id" placeholder="i.e. 123456789098-example7ab6cd54ef3gh2ijklmn1ga.apps.googleusercontent.com" value="" required />
					<input type="text" class="form-control" id="ga_email_addr" placeholder="i.e. 123456789098-example7ab6cd54ef3gh2ijklmn1ga@developer.gserviceaccount.com" value="" required />
					<input type="text" class="form-control" id="ga_fingerprints" placeholder="i.e. adcde12f3gh45ijk678lm9012no34p5678909q87r" value="" required />
					<div class="row" style="padding-top: 25px;">
						<div class="col-md-12">
							<button class="btn btn-primary" style="width: 250px;" id="save_ga_credentials_btn"><i class="fa fa-hdd-o"></i>&nbsp;&nbsp;Save Google Credentials</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div%>
