<div id="dashboard">
<div class="container">
	<div class="row">
	<div class="col-md-4">

      <div class="panel panel-default">
        <div class="panel-heading">
        <strong class="panel-title">BUCKETS</strong>
        </div>
        <div class="panel-body">
          <hr>
          <div>
            <div><i class="fa fa-info-circle fa-2x"></i></div>
            <p>Use <b>Buckets</b> to group<br>
              your uploaded files into<br>
              categories or projects.</p>
          </div>
          <hr>
          <a href="#" class="pull-right add-bucket-btn">
            <div class="panel-elements">
              <i class="fa fa-check-circle"></i>
              <span>CREATE</span>
            </div>
          </a>
        </div>
      </div>


	    <div class="panel panel-default">
      <div class="panel-heading">
      <strong class="panel-title">SITES</strong>
      </div>
        <div class="panel-body">
          <hr>
          <div>
            <div><i class="fa fa-info-circle fa-2x"></i></div>
            <p>Use the <b>Sites</b> section to<br>
              create instant websites<br>
              from our templates.</p>
          </div>
          <hr>
          <a href="#" class="pull-right add-site-btn">
            <div class="panel-elements">
              <i class="fa fa-check-circle"></i>
              <span>CREATE</span>
            </div>
          </a>
        </div>
	    </div>


    </div>
    <div class="col-md-4">

    <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="panel-title">FILES</strong>
    </div>
        <div class="panel-body">
          <hr>
          <div>
            <div><i class="fa fa-info-circle fa-2x"></i></div>
            <p>Use the <b>Files</b> section to<br>
              upload all your media to<br>
              be hosted on Amazon S3.</p>
          </div>
          <hr>
          <a href="#" class="pull-right add-file-btn">
            <div class="panel-elements">
              <i class="fa fa-arrow-circle-up"></i>
              <span>UPLOAD</span>
            </div>
          </a>
        </div>
      </div>

    <div class="panel panel-default">
    <div class="panel-heading">
    <strong class="panel-title">TUTES</strong>
    </div>
        <div class="panel-body">
          <hr>
          <div>
            <div><i class="fa fa-info-circle fa-2x"></i></div>
            <p>Need help getting setup?<br>
              Use the <b>Tutes</b> section to<br>
              watch step by step videos.</p>
          </div>
          <hr>
          <a href="#" class="pull-right tutes-btn">
            <div class="panel-elements">
              <i class="fa fa-play-circle"></i>
              <span>WATCH</span>
            </div>
          </a>
        </div>
      </div>

	</div>

	<div class="col-md-4">
	  <div class="panel panel-default">
    <div class="panel-heading">
    <strong class="panel-title">AMAZON STATS</strong>
    </div>
      <div class="panel-body sites-published-percentage">
				<% unless current_user.aws_reports_configured? %>
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="<%= t 'close' %>"><span aria-hidden="true">&times;</span></button>
						<p><%= t '.you_need_to_set_up_aws' %></p>
						<div class='text-right'>
							<a href="#cloud" class="btn btn-success btn-lg go-to-setup-reports-btn" aria-controls="cloud" role="pill" data-toggle="tab"><%= t '.set_up' %></a>
						</div>
					</div>
				<% end %>
        <hr>
        <p>Total Hosted Data</p>
        <div class="white-block"><%= total_hosted_data %></div>
        <hr>
        <p>Current Month Spend</p>
        <div class="white-block"><%= current_month_spend %></div>
        <hr>
        <p>Spend Breakdown</p>
        <div class="chart-block"><%= spent_by_service %></div>
        <div class="amazon-login panel-elements">
          <a target="_BLANK" href="http://login.amazon.com/agreement">
            <i class="fa fa-share-square fa-2x"></i>
            <p>Login To Amazon</p>
          </a>
        </div>
      </div>

	    <!-- <div class="panel-body sites-published-percentage">
          <% unless @sites.size === 0 %>
          <% unpub = @sites_count - @sites_deployed
            data = {
              value: unpub,
              color: "#46BFBD",
              highlight: "#5AD3D1",
              label: "Unpublished"
          },
          {
              value: @sites_deployed,
              color: "#FDB45C",
              highlight: "#FFC870",
              label: "Published"
          }
            options = { width: 225, id: "site_pub_piechart" } %>
          <div style="text-align: center; vertical-align: top;"><h3 class="sites-published-desc" id="sites_count"><%= @sites_count %> <%=  @sites_count > 1 ? "sites" : "site" %>.</h3></div>
          <div style="text-align: center; vertical-align: top;"><h3 class="sites-published-desc" id="sites_published"><%= @sites_count - @sites_deployed < @sites_count ? "#{((@sites_deployed.to_f / @sites_count.to_f )*100).to_i}%" : "No sites" %> published.</h3></div>
            <%= chartjs_pie_chart data, options %>
          <% else %>
          <p>You haven't added any sites to BucketBox yet.</p>
          <% end %>
	    </div> -->
	  </div>

	</div>
  </div>
</div>
</div>
