<h2>Domains</h2>
<div class="col-md-12">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Setting Up A Domain Name With AWS S3<a href="#" class="pull-right"><i class="fa fa-plus-circle"></i></a></h3>
	  </div>
	  <div class="panel-body">
        <table class="table table-hover">
          <tr>
            <thead>
            <th>Name</th>
            <th>URL</th>
            <th>Description</th>
            </thead>
          </tr>
          <tr>
            <td>Test, test, test</td>
            <td>sub-1.example.com</td>
            <td>This is a placeholder for domains.</td>
          </tr>
        </table>
			<!--p>From <a href="http://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html">http://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html</a>.</p>
			Suppose you want to host your static website on Amazon S3. You have registered a domain, for example, example.com, and you want requests for http://www.example.com and http://example.com to be served from your Amazon S3 content.

			<p>Whether you have an existing static website that you now want to host on Amazon S3 or you are starting from scratch, this example will help you host websites on Amazon S3.</p>

			<h3>Before You Begin</h3>

			<p>As you walk through the steps in this example, note that you will work with the following services:</p>

			<p>Domain registrar of your choice– If you do not already have a registered domain name, such as example.com, you will need to create and register one with a registrar of your choice. You can typically register a domain for a small yearly fee. For procedural information about registering a domain name, see the web site of the registrar Amazon S3– You will use Amazon S3 to create buckets, upload a sample website page, configure permissions so everyone can see the content, and then configure the buckets for website hosting. In this example, because you want to allow requests for both http://www.example.com and http://example.com, you will create two buckets; however, you will host content in only one bucket. You will configure the other Amazon S3 bucket to redirect requests to the bucket that hosts the content.</p>

			<p>Amazon Route 53– You will configure Amazon Route 53 as your DNS provider. You will create a hosted zone in Amazon Route 53 for your domain and configure applicable DNS records. If you are switching from an existing DNS provider, you will need to ensure that you have transferred all of the DNS records for your domain.</p>

			<p>As you walk through this example, a basic familiarity with domains, Domain Name System (DNS), CNAME records, and A records would be helpful. A detailed explanation of these concepts is beyond the scope of this guide, but your domain registrar should provide any basic information that you need.</p>

			<strong>Note</strong>
			<p>All the steps in this example use example.com as a domain name. You will need to replace this domain name with the one you registered.</p>
			
			<h4>Step 1: Register a Domain</h4>

			<p>If you already have a registered domain, you can skip this step. If you are new to hosting a website, your first step is to register a domain, such as example.com, with a registrar of your choice.</p>

			<p>After you have chosen a registrar, you will register your domain name according to the instructions at the registrar’s website. For a list of registrar web sites that you can use to register your domain name, go to ICANN.org.</p>

			<p>When you have a registered domain name, your next task is to create and configure Amazon S3 buckets for website hosting and to upload your website content.</p>

			<h4>Step 2: Create and Configure Buckets and Upload Data</h4>

			<p>In this example, to support requests from both the root domain such as example.com and subdomain such as www.example.com, you will create two buckets. One bucket will contain the content and you will configure the other bucket to redirect requests. You perform the following tasks in Amazon S3 console to create and configure your website:</p>

			<p>Create two buckets.</p>

			<p>Configure these buckets for website hosting.</p>

			<p>Test the Amazon S3 provided bucket website endpoint.</p>

			<h4>Step 2.1: Create Two Buckets</h4>

			<p>The bucket names must match the names of the website that you are hosting. For example, to host your example.com website on Amazon S3, you would create a bucket named example.com. To host a website under www.example.com, you would name the bucket www.example.com. In this example, your website will support requests from both example.com and www.example.com.</p>

			<p>In this step, you will sign in to the Amazon S3 console with your AWS account credentials and create the following two buckets.</p>

			<p>example.com</p>

			<p>www.example.com</p>

			<strong>Note</strong>
			<p>To create the buckets for this example, follow these steps. As you walk through this example, substitute the domain name that you registered for example.com.
			Sign in to the AWS Management Console and open the Amazon S3 console at https://console.aws.amazon.com/s3/.</p>

			<p>Create two buckets that match your domain name. One of the bucket names should include the subdomain www, For instance, example.com and www.example.com.</p>

			<p>For step-by-step instructions, go to Creating a Bucket in the Amazon Simple Storage Service Console User Guide.</p>

			<p>Upload your website data to the example.com bucket.</p>

			<p>You will host your content out of the root domain bucket (example.com), and you will redirect requests for www.example.com to the root domain bucket. Note that you can store content in either bucket. For this example you will host content in example.com bucket. The content can be text files, family photos, videos—whatever you want. If you have not yet created a website, then you only need one file for this example. You can upload any file. For example, you can create a file using the following HTML and upload it the bucket. The file name of the home page of a website is typically index.html, but you can give it any name. In a later step, you will provide this file name as the index document name for your website.</p>
				
			<code>
			&lt;html xmlns="http://www.w3.org/1999/xhtml" &gt;<br/>
			&lt;head&gt;<br/>
			    &lt;title&gt;My Website Home Page&lt;/title&gt;<br/>
			&lt;/head&gt;<br/>
			&lt;body&gt;<br/>
			  &lt;h1&gt;Welcome to my website&lt;/h1&gt;<br/>
			  &lt;p&gt;Now hosted on Amazon S3!&lt;/p&gt;<br/>
			&lt;/body&gt;<br/>
			&lt;/html&gt;
			</code><p></p>
			<p>For step-by-step instructions, go to Uploading Objects into Amazon S3 in the Amazon Simple Storage Service Console User Guide.</p>

			<p>Configure permissions for your objects to make them publicly accessible.</p>

			<p>Attach the following bucket policy to the example.com bucket substituting the name of your bucket for example.com. For step-by-step instructions to attach a bucket policy, go to Editing Bucket Permissions in the Amazon Simple Storage Service Console User Guide.</p>

<pre>
{
  "Version":"2012-10-17",
  "Statement":[{
	"Sid":"AddPerm",
        "Effect":"Allow",
	  "Principal": "*",
      "Action":["s3:GetObject"],
      "Resource":["arn:aws:s3:::example.com/*"
      ]
    }
  ]
}
</pre>

			<p>You now have two buckets, example.com and www.example.com, and you have uploaded your website content to the example.com bucket. In the next step, you will configure www.example.com to redirect requests to your example.com bucket. By redirecting requests you can maintain only one copy of your website content and both visitors who specify “www” in their browsers and visitors that only specify the root domain will both be routed to the same website content in your example.com bucket.</p>

			<h4>Step 2.2: Configure Buckets for Website Hosting</h4>

			<p>When you configure a bucket for website hosting, you can access the website using the Amazon S3 assigned bucket website endpoint.</p>

			<p>In this step, you will configure both buckets for website hosting. First, you will configure example.com as a website and then you'll configure www.example.com to redirect all requests to the example.com bucket.</p>

			<p>To configure example.com bucket for website hosting</p>

			<p>Configure example.com bucket for website hosting. In the Index Document box, type the name that you gave your index page.</p>

			<p>For step-by-step-instructions, go to Managing Bucket Website Configuration in the Amazon Simple Storage Service Console User Guide. Make a note of the URL for the website endpoint. You will need it later.</p>


			<p>To test the website, enter the Endpoint URL in your browser.</p>

			<p>Your browser will display the index document page. Next, you will configure www.example.com bucket to redirect all requests for www.example.com to example.com.</p>

			<p>To redirect requests from www.example.com to example.com</p>

			<p>In the Amazon S3 console, in the Buckets list, right-click www.example.com and then click Properties.</p>

			<p>Under Static Website Hosting, click Redirect all requests to another host name. In the Redirect all requests box, type example.com.</p>


			<p>To test the website, enter the Endpoint URL in your browser.</p>

			<p>Your request will be redirected and the browser will display the index document for example.com.</p>

			<p>The following Amazon S3 bucket website endpoints are accessible to any internet user:</p>

			<p>example.com.s3-website-us-east-1.amazonaws.com</p>

			<p>http://www.example.com.s3-website-us-east-1.amazonaws.com</p>

			<p>Now you will do additional configuration to serve requests from the domain you registered in the preceding step. For example, if you registered a domain example.com, you want to serve requests from the following URLs :</p>

			<p>http://example.com</p>

			<p>http://www.example.com</p>

			<p>In the next step, we will use Amazon Route 53 to enable customers to use the URLs above to navigate to your site.</p>

			<h4>Step 3: Create and Configure Amazon Route 53 Hosted Zone</h4>

			<p>Now you will configure Amazon Route 53 as your Domain Name System (DNS) provider. You must use Amazon Route 53 if you want to serve content from your root domain, such as example.com. You will create a hosted zone, which holds the DNS records associated with your domain:</p>

			<p>An alias record that maps the domain example.com to the example.com bucket. This is the bucket that you configured as a website endpoint in step 2.2.</p>

			<p>Another alias record that maps the subdomain www.example.com to the www.example.com bucket. You configured this bucket to redirect requests to the example.com bucket in step 2.2.</p>

			<h4>Step 3.1: Create a Hosted Zone for Your Domain</h4>

			<p>Go to the Amazon Route 53 console at https://console.aws.amazon.com/route53 and then create a hosted zone for your domain. For instructions, go to Creating a Hosted Zone in the http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/.</p>

			<p>The following example shows the hosted zone created for the example.com domain. Write down the Amazon Route 53 name servers (NS) for this domain. You will need them later.</p>


			<h4>Step 3.2: Add Alias Records for example.com and www.example.com</h4>

			<p>The alias records that you add to the hosted zone for your domain will map example.com and www.example.com to the corresponding Amazon S3 buckets. Instead of using IP addresses, the alias records use the Amazon S3 website endpoints. Amazon Route 53 maintains a mapping between the alias records and the IP addresses where the Amazon S3 buckets reside.</p>

			<p>For step-by-step instructions, go to Creating an Alias Resource Record Set in the Amazon Route 53 Developer Guide.</p>

			<p>The following screenshot shows the alias record for example.com as an illustration. You will also need to create an alias record for www.example.com.</p>


			<p>To enable this hosted zone, you must use Amazon Route 53 as the DNS server for your domain example.com. Before you switch, if you are moving an existing website to Amazon S3, you must transfer DNS records associated with your domain example.com to the hosted zone that you created in Amazon Route 53 for your domain. If you are creating a new website, you can go directly to step 4.</p>

			<strong>Note</strong>
			<p>Creating, changing, and deleting resource record sets take time to propagate to the Route 53 DNS servers. Changes generally propagate to all Route 53 name servers in a couple of minutes. In rare circumstances, propagation can take up to 30 minutes.</p>
			
			<h4>Step 3.3: Transfer Other DNS Records from Your Current DNS Provider to Amazon Route 53</h4>

			<p>Before you switch to Amazon Route 53 as your DNS provider, you must transfer any remaining DNS records from your current DNS provider, including MX records, CNAME records, and A records, to Amazon Route 53. You don't need to transfer the following records:</p>

			<p>NS records– Instead of transferring these, you replace their values with the name server values that are provided by Amazon Route 53.</p>

			<p>SOA record– Amazon Route 53 provides this record in the hosted zone with a default value.</p>

			<p>Migrating required DNS records is a critical step to ensure the continued availability of all the existing services hosted under the domain name.</p>

			<h4>Step 4: Switch to Amazon Route 53 as Your DNS Provider</h4>

			<p>To switch to Amazon Route 53 as your DNS provider, you must go to your current DNS provider and update the name server (NS) record to use the name servers in your delegation set in Amazon Route 53.</p>

			<p>Go to your DNS provider site and update the NS record with the delegation set values of the hosted zone as shown in the following Amazon Route 53 console screenshot. For more information, go to Updating Your DNS Service's Name Server Records in Amazon Route 53 Developer Guide.</p>


			<p>When the transfer to Amazon Route 53 is complete, there are tools that you can use to verify the name server for your domain has indeed changed. On a Linux computer, you can use the dig DNS lookup utility. For example, this dig command:</p>

			<p>dig +recurse +trace www.example.com any
			returns the following output (only partial output is shown). The output shows the same four name servers the name servers on Amazon Route 53 hosted zone you created for example.com domain.</p>

<pre>
...
example.com.      172800  IN      NS      ns-9999.awsdns-99.com.
example.com.      172800  IN      NS      ns-9999.awsdns-99.org.
example.com.      172800  IN      NS      ns-9999.awsdns-99.co.uk.
example.com.      172800  IN      NS      ns-9999.awsdns-99.net.

www.example.com.  300     IN      CNAME   www.example.com.s3-website-us-east-1.amazonaws.com.
...
</pre>
			<h4>Step 5: Testing</h4>

			<p>To verify that the website is working correctly, in your browser, try the following URLs:</p>

			<p>http://example.com - Displays the index document in the example.com bucket.</p>

			<p>http://www.example.com- Redirects your request to http://example.com.</p>

			<p>In some cases, you may need to clear the cache to see the expected behavior.</p-->
		</div>
	</div>
</div>
<!-- <div class="col-md-3">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Domain Names<a href="#" class="pull-right"><i class="fa fa-plus-circle"></i></a></h3>
		</div>
		<div class="panel-body">
			Placeholder.
		</div>
	</div>
</div> -->
<!-- <div class="col-md-8">
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h3 class="panel-title">Domain Names<a href="#" class="pull-right"><i class="fa fa-plus-circle"></i></a></h3>
	  </div>
	  <div class="panel-body">
	    <table class="table table-hover">
	      <tr>
	        <thead>
	          <th>Domain Name</th>
	          <th>Expires On</th>
	          <th>Registration Type</th>
	          <th>Associated Products</th>
	          <th>Renew</th>
	        </thead>
	      </tr>
	      <tr>
	        <td><a href="#" data-toggle="modal" data-target="#manageDomainModal">jonlaplante.com</a></td>
	        <td>10/06/2015</td>
	        <td><button class="btn btn-default btn-sm">Add Privacy</button></td>
	        <td><a href="#">SSL Certificates</a></td>
	        <td><button class="btn btn-primary btn-sm">Renew</button></td>
	      </tr>
	      <tr>
	        <td><a href="#" data-target="#domains">thisgoal.com</a></td>
	        <td>11/11/2015</td>
	        <td><button class="btn btn-default btn-sm">Add Privacy</button></td>
	        <td><button class="btn btn-default btn-sm">Add</button></td>
	        <td><button class="btn btn-primary btn-sm">Renew</button></td>
	      </tr>
	      <tr>
	        <td>&bull;&nbsp;&nbsp;&nbsp;<a href="#" data-target="#domains">sub1.thisgoal.com</a></td>
	        <td>-</td>
	        <td></td>
	        <td></td>
	        <td></td>
	      </tr>
	      <tr>
	        <td>&bull;&nbsp;&nbsp;&nbsp;<a href="#" data-target="#domains">sub2.thisgoal.com</a></td>
	        <td>-</td>
	        <td></td>
	        <td></td>
	        <td></td>
	      </tr>
	      <tr>
	        <td>&bull;&nbsp;&nbsp;&nbsp;<a href="#" data-target="#domains">sub3.thisgoal.com</a></td>
	        <td>-</td>
	        <td></td>
	        <td></td>
	        <td></td>
	      </tr>
	      <tr>
	        <td><em><a href="#" data-target="#domains">gojetstream.com</a></em></td>
	        <td><em>01/06/2015</em></td>
	        <td><em><button class="btn btn-default btn-sm">Add Privacy</button></em></td>
	        <td><em><button class="btn btn-default btn-sm">Add</button></em></td>
	        <td><button class="btn btn-primary btn-sm">Renew</button></td>
	      </tr>
	    </table>
	  </div>
	</div>
</div> -->
