<div class="media-overlay-container flex-center flex-wrapped file-container">
  <% if @user_files.count > 0 %>
    <% @user_files.each do |file| %>
      <%= file_render(file) %>
    <% end %>
  <% else %>
    <p class="lead">You haven't uploaded any files through BucketBox yet.</p>
    <div class="flex-center" style="width: 100%;"><button type="button" class="panel-elements gray-btn add-file-btn big-add-btn"><i class="fa fa-plus-circle" data-target="upload_file_modal" data-toggle="modal"></i>&nbsp;&nbsp;Upload Your First File</button></div>
  <% end %>
</div>
