<!-- Templates -->
<script type="text/template" id="document_details_tmpl">

</script>
<!-- End templates -->
<div id="files">
<div class="container">
<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="panel-title bdown">YOUR FILES</strong><div class="bucket-panel-title">
<a href="#" class="pull-right add-file-btn" data-target="upload_file_modal" data-toggle="modal">
        <div class="panel-elements gray-btn"><i class="fa fa-plus-circle"></i>&nbsp;UPLOAD
        </div></a></div>
      </div>

      <div class="panel-body">
      <hr class="first-panel-body-hr">
        <nav style="text-align: center;" class="file-nav">
          <% if @site_images.count > 8 %>
              <%#= will_paginate @site_images, renderer: BootstrapPagination::Rails %>
              <ul class="pagination">
                <% if @user_files.count % 8 > 0 %>
                    <% x = (@user_files.count / 8) + 1 %>
                <% else %>
                    <% x = @user_files.count / 8 %>
                <% end %>
                <% c = 1 %>
                <%= until c > x do %>
                    <li><a href="#"<% if c == 1 %> class="active"<% end %>><%= c %></a></li>
                    <% c += 1 %>
                <% end %>
              </ul>
          <% end %>
        </nav>
        <div class="full-btn-width">
          <div class="search-select-form">
            <%= form_tag '/search_files', id: 'search_files' do %>
              <i class="fa fa-search"></i>
              <%= text_field_tag(:data_search_files, nil, placeholder: 'Search' ) %>
            <% end %>
            <div class="bm-btn pull-right">
              <%= select_tag "bucket_filter", options_from_collection_for_select(@buckets, "id", "label"), include_blank: "Filter Bucket", class: 'selectpicker', 'data-style' => "btn-primary" %>
              <%= select_tag "media_filter", options_for_select(@media_types), include_blank: "Filter Media", class: 'selectpicker', 'data-style' => "btn-primary"  %>
            </div>
          </div>
          <div id="collection_filters">
            <div class="button-heading pull-right" style="margin: 10px;">
              <button id="files_style_list" data-style="list" type="button" class="btn btn-info" disabled>
                <span class="glyphicon glyphicon-align-justify"></span>
              </button>
              <button id="files_style_grid" data-style="grid" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-th-large"></span>
              </button>
            </div>
          </div>
        </div>
        <hr>
        <div id="files_render_collection">
          <%= render partial: 'partials/files_list' %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><strong>FILE DETAILS</strong></h2>
        <hr>
      </div>
      <div class="panel-body file-details-panel">
        Click on a file from your list to view its details.
      </div>
    </div>
  </div>
</div>

<!-- Upload files modal. -->
<div class="modal fade" id="upload_file_modal" tabindex="-1" role="dialog" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadFileModalLabel">Upload File</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">Uploading Your File</div>
          <div class="panel-body">
            To upload a file to S3, simply drag it into the box below or, if you prefer, click anywhere in the box to open a file selection dialog.

            <%= form_for @files, url: {action: "file_upload", controller: "documents"}, html: {class: "dropzone", style: "border: 3px dashed #bbbbbb; font-size: 14pt;", multipart: true} do |f| %>
                <div class="fallback">
                  <%= f.file_field :documents %><br>
                  <%= f.submit "Upload" %>
                </div>
            <% end %>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>

<script type="text/template" id="file_details_tmpl">
  <div class="details-section">File name<br/>
    <div class="file-img-pen", id="file_name_view">
      <a href="javascript:void(0)" class="toggle-file-name">
        <i class="fa fa-pencil-square pull-right"></i>
      </a>
      <span id="file_file_name" class="pnl-site-name file_name"></span>
    </div>
    <div id="file_name_edit", class="input-group", style="display: none">
      <input class="form-control" id="file_name" name="file_name" type="text" value="">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-info" id="save_file_name" style="margin-right: 10px;" type="button">
          <i class="fa fa-floppy-o"></i>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-warning toggle-file-name btn-info" type="button">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="details-section">File Size<br/>
    <span id="file_file_size" class="file-img-pen"></span>
  </div>
  <div class="details-section">File Type<br/>
    <span id="file_file_type" class="file-img-pen"></span>
  </div>
  <div class="details-section">File Links<br/><hr>
    <div class="details-section download-section">Actual Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>
  </div>
  <hr>

    <span id="file_bucket_details"></span>
    <span><button class="btn btn-info toggle-buckets-btn file-modal-btns" style="width: 100%;"><i class="fa fa-folder-open"></i>&nbsp;ADD TO BUCKET</button></span>

  <!--<button class="btn btn-warning file-modal-btns" style="width: 100%;"><i class="fa fa-lock"></i>&nbsp;MAKE PRIVATE</button>-->
  <button class="btn btn-warning file-modal-btns" style="width: 100%;" data-toggle="modal" data-target="#delete_file_modal"><i class="fa fa-trash"></i>&nbsp;DELETE FILE</button>
   <div id="file-details-section"></div>
</script>

<!-- Image templates -->

<script type="text/template" id="image_details_tmpl">
  <div class="details-section">File name<br/>
    <div class="file-img-pen", id="image_name_view">
      <a href="javascript:void(0)" class="toggle-image-name">
        <i class="fa fa-pencil-square pull-right"></i>
      </a>
      <span id="image_file_name" class="pnl-site-name file_name"></span>
    </div>
    <div id="image_name_edit", class="input-group", style="display: none">
      <input class="form-control" id="image_name" name="image_name" type="text" value="">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-info" id="save_image_name" style="margin-right: 10px;" type="button">
          <i class="fa fa-floppy-o"></i>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-warning toggle-image-name btn-info" type="button">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="details-section">File Size<br/>
    <span id="image_file_size" class="file-img-pen"></span>
  </div>
  <div class="details-section">File type<br/>
    <span id="image_filetype" class="file-img-pen">image/jpeg</span>
  </div>

  <div class="details-section">File Links<br/><hr>
    <div class="details-section download-section">Actual Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>

    <div class="details-section download-section">Half Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="medium_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard fa-lg"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title">
        <a href="#" class="pull-right" id="medium_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>

    <div class="details-section">Small Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="thumb_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard fa-lg"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="thumb_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>

  </div>
  <hr>

  <span><button class="btn btn-info toggle-buckets-btn file-modal-btns" style="width: 100%;"><i class="fa fa-folder-open"></i>&nbsp;ADD TO BUCKET</button></span>

  <!--<button class="btn btn-warning file-modal-btns" style="width: 100%;"><i class="fa fa-lock"></i>&nbsp;MAKE PRIVATE</button>-->

  <button class="btn btn-warning file-modal-btns" style="width: 100%;" data-toggle="modal" data-target="#delete_image_modal"><i class="fa fa-trash"></i>&nbsp;DELETE IMAGE</button>
</script>

<!-- Video templates -->

<script type="text/template" id="video_details_tmpl">
  <div class="details-section">File name<br/>
    <div class="file-img-pen", id="video_name_view">
      <a href="javascript:void(0)" class="toggle-video-name">
        <i class="fa fa-pencil-square pull-right"></i>
      </a>
      <span id="video_file_name" class="pnl-site-name file_name"></span>
    </div>
    <div id="video_name_edit", class="input-group", style="display: none">
      <input class="form-control" id="video_name" name="video_name" type="text" value="">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-info" id="save_video_name" style="margin-right: 10px;" type="button">
          <i class="fa fa-floppy-o"></i>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-warning toggle-video-name btn-info" type="button">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="details-section">File Size<br/>
    <span id="video_file_size" class="file-img-pen"></span>
  </div>
  <div class="details-section">File Type<br/>
    <span id="video_file_type" class="file-img-pen"></span>
  </div>

  <div class="details-section">File Links<br/><hr>
    <div class="details-section download-section">Actual Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>
    <div class="details-section download-section">Actual Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="thumb_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="thumb_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>
  </div>
  <hr>


    <span id="video_bucket_details"></span>
    <span><button class="btn btn-info toggle-buckets-btn file-modal-btns" style="width: 100%;" data-media-type="video"><i class="fa fa-folder-open"></i>&nbsp;ADD TO BUCKET</button></span>
     <!--<button class="btn btn-warning file-modal-btns" style="width: 100%;"><i class="fa fa-lock"></i>&nbsp;MAKE PRIVATE</button>-->

  <button class="btn btn-warning file-modal-btns" style="width: 100%;" data-toggle="modal" data-target="#delete_video_modal"><i class="fa fa-trash"></i>&nbsp;DELETE FILE</button>
</script>

<!-- Audio templates -->

<script type="text/template" id="audio_details_tmpl">
  <div class="details-section">File name<br/>
    <div class="file-img-pen", id="audio_name_view">
      <a href="javascript:void(0)" class="toggle-audio-name">
        <i class="fa fa-pencil-square pull-right"></i>
      </a>
      <span id="audio_file_name" class="pnl-site-name file_name"></span>
    </div>
    <div id="audio_name_edit", class="input-group", style="display: none">
      <input class="form-control" id="audio_name" name="audio_name" type="text" value="">
      <span class="input-group-btn">
        <button class="btn btn-primary btn-info" id="save_audio_name" style="margin-right: 10px;" type="button">
          <i class="fa fa-floppy-o"></i>
        </button>
      </span>
      <span class="input-group-btn">
        <button class="btn btn-warning toggle-audio-name btn-info" type="button">
          <i class="fa fa-times"></i>
        </button>
      </span>
    </div>
  </div>
  <div class="details-section">File Size<br/>
    <span id="audio_file_size" class="file-img-pen"></span>
  </div>
  <div class="details-section">File Type<br/>
    <span id="audio_file_type" class="file-img-pen"></span>
  </div>
  <div class="details-section">File Links<br/><hr>
    <div class="details-section download-section">Actual Size<br/>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_copy_size_url_to_clipboard">
          <div class="panel-elements panel-el-btn"><i class="fa fa-clipboard"></i>&nbsp;COPY LINK</div>
        </a>
      </div>
      <br>
      <div class="bucket-panel-title but-panel-title">
        <a href="#" class="pull-right" id="actual_download_size_url_to_clipboard" download>
          <div class="panel-elements panel-el-btn"><i class="fa fa-download"></i>&nbsp;DOWNLOAD</div>
        </a>
      </div>
    </div>
  </div>
  <hr>

    <span id="audio_bucket_details"></span>
    <span><button class="btn btn-info toggle-buckets-btn file-modal-btns" style="width: 100%;" data-media-type="audio"><i class="fa fa-folder-open"></i>&nbsp;ADD TO BUCKET</button></span>
  <!--<button class="btn btn-warning file-modal-btns" style="width: 100%;"><i class="fa fa-lock"></i>&nbsp;MAKE PRIVATE</button>-->

  <button class="btn btn-warning file-modal-btns" style="width: 100%;" data-toggle="modal" data-target="#delete_audio_modal"><i class="fa fa-trash"></i>&nbsp;DELETE FILE</button>
</script>

<div class="modal fade" id="delete_file_modal" tabindex="-1" role="dialog" aria-labelledby="deleteFileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteFileModalLabel">Delete File</h4>
      </div>
      <div class="modal-body">
        Deleting this file will permanently remove it from BucketBox.<p></p>
        Do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning delete-file">Delete This File</button>
      </div>
    </div>
  </div>
</div>
<!-- End upload files modal. -->
</div>
</div>
