<div class="media-overlay-container flex-wrapped file-container">
<% if @user_files.count > 0 %>
  <ul>
  <% @user_files.each do |file| %>
        <% file_name = file.file_file_name %>
        <%# file_name = document_name(file) %>
    <li>
      <a href="javascript:void(0);" class="choosing-file" data-class="<%= file.class.name %>" data-id="<%= file.id %>" data-src="">
        <%= image_tag "files_icon.svg", style: "display: none;" %>
        <span><%= file_name %></span>
      </a>
    </li>
  <% end %>
  </ul>
<% else %>
  <p class="lead">You haven't uploaded any files through BucketBox yet.</p>
  <div class="flex-center" style="width: 100%;"><button type="button" class="panel-elements gray-btn big-add-btn add-file-btn"><i class="fa fa-plus-circle" data-target="upload_file_modal" data-toggle="modal"></i>&nbsp;&nbsp;Upload Your First File</button></div>
<% end %>
</div>
