<!-- Templates -->
<!-- Image templates -->

<!-- End image templates -->

<!-- Video templates -->

<!-- End video templates -->

<!-- Audio templates -->

<!-- End audio templates -->
<!-- End templates. -->

<h2>Pictures, Video, and Audio</h2>
    <div class="row">
      <div class="col-md-8">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Pictures<a href="#" class="pull-right add-pic-btn"><i class="fa fa-plus-circle"></i>&nbsp;Add Picture</a></h3>
            </div>
            <div class="panel-body">
              <nav style="text-align: center;" class="media-image-nav">
              <% if @site_images.count > 8 %>
                <%#= will_paginate @site_images, renderer: BootstrapPagination::Rails %>
                <ul class="pagination">
                  <!--li-->
                    <!--a href="#" aria-label="Previous"-->
                      <!--span aria-hidden="true">&laquo;</span-->
                    <!--/a-->
                  <!--/li-->
                  <% if @site_images.count % 8 > 0 %>
                    <% x = (@site_images.count / 8) + 1 %>
                  <% else %>
                    <% x = @site_images.count / 8 %>
                  <% end %>
                  <% c = 1 %>
                  <%= until c > x do %>
                  <li><a href="#"<% if c == 1 %> class="active"<% end %>><%= c %></a></li>
                  <% c += 1 %>
                  <% end %>
                  <!-- <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li> -->
                </ul>
              <% end %>
              </nav>

              <div class="media-overlay-container flex-center flex-wrapped image-container">
              <% if @site_images.count > 0 %>
                <% @site_images.each do |img| %>
                <% i = img.file_file_name.split(".") %>
                <% extension = i.last %>
                <% if img.file_file_name.size >= 15 %>
                  <% img_name = img.file_file_name.truncate(15).concat(extension) %>
                <% else %>
                  <% img_name = img.file_file_name %>
                <% end %>
                <div class="media_overlay image-link" data-id="<%= img.id %>"><a href="javascript:void(0);"><img src="<%= img.file.url(:medium) %>" alt="" style="max-height: 200px; max-width: 200px;"><div class="desc"><%= truncate(img_name, length: 15) %></div></a></div>
                <% end %>
              <% else %>
                <p class="lead">You haven't uploaded any pictures through BucketBox yet.</p>
                <div class="flex-center" style="width: 100%;"><button type="button" class="btn btn-primary add-pic-btn"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Upload Your First Picture</button></div>
              <% end %>
              </div>
            </div>
          </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Image Details</h3>
          </div>
          <div class="panel-body image-details-panel">
            Click on an image from your list to view its details.
          </div>
        </div>      
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Video<a href="#" class="pull-right add-vid-btn"><i class="fa fa-plus-circle"></i>&nbsp;Add Video</a></h3>
          </div>
          <div class="panel-body">
            <nav style="text-align: center;" class="media-video-nav">
            <% if @site_videos.count > 4 %>
              <ul class="pagination">
                <!--li-->
                  <!--a href="#" aria-label="Previous"-->
                    <!--span aria-hidden="true">&laquo;</span-->
                  <!--/a-->
                <!--/li-->
                <% if @site_videos.count % 4 > 0 %>
                  <% x = (@site_videos.count / 4) + 1 %>
                <% else %>
                  <% x = @site_videos.count / 4 %>
                <% end %>
                <% c = 1 %>
                <%= until c > x do %>
                <li><a href="#" class="<% if c == 1 %>active<% end %>"><%= c %></a></li>
                <% c += 1 %>
                <% end %>
                <!-- <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li> -->
              </ul>
            <% end %>
            </nav>

            <div class="media-overlay-container flex-center flex-wrapped video-container">
            <% if @site_videos.count > 0 %>
              <% @site_videos.each do |vid| %>
                <% v = vid.file_file_name.split(".") %>
                <% extension = v.last %>
                <% if vid.file_file_name.size >= 25 %>
                  <% vid_name = vid.file_file_name.truncate(25).concat(extension) %>
                <% else %>
                  <% vid_name = vid.file_file_name %>
                <% end %>
              <div class="media_overlay video-link" data-id="<%= vid.id %>"><a href="javascript:void(0);"><%= image_tag vid.file.url(:thumb), style: "max-width: 300px; max-height: 300px;" %><div class="desc"><%= vid_name %></div></a></div>
              <% end %>
            <% else %>
              <p class="lead">You haven't uploaded any videos through BucketBox yet.</p>
              <div style="width: 100%;" class="flex-center"><button class="btn btn-primary add-vid-btn" type="button"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Upload Your First Video</button></div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Video Details</h3>
          </div>
          <div class="panel-body video-details-panel">
            Click on a video from your list to view its details.
          </div>
        </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Audio<a href="#" class="pull-right add-audio-btn"><i class="fa fa-plus-circle"></i>&nbsp;Add Audio</a></h3>
          </div>
          <div class="panel-body">
            <nav style="text-align: center;" class="media-audio-nav">
            <% if @site_audios.count > 6 %>
              <ul class="pagination">
                <!-- <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li> -->
                <% if @site_audios.count % 6 > 0 %>
                  <% x = (@site_audios.count / 6) + 1 %>
                <% else %>
                  <% x = @site_audios.count / 6 %>
                <% end %>
                <% c = 1 %>
                <%= until c > x do %>
                <li><a href="javascript:void(0);" class="<% if c == 1 %>active<% end %>"><%= c %></a></li>
                <% c += 1 %>
                <% end %>
                <!-- <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li> -->
              </ul>
            <% end %>
            </nav>

            
            <div class="media-overlay-container flex-center flex-wrapped audio-container">
            <% if @site_audios.count > 0 %>
              <% @site_audios.each do |aud| %>
                <% begin %>
                  <% meta = eval(aud.metadata) %>
                  <% aud_name = "#{meta["title"]}" %>
                <% rescue %>
                  <% a = aud.file_file_name.split(".") %>
                  <% extension = a.last %>
                  <% if aud.file_file_name.size >= 15 %>
                    <% aud_name = aud.file_file_name.truncate(15).concat(extension) %>
                  <% else %>
                    <% aud_name = aud.file_file_name %>
                  <% end %>
                <% end %>
              <div class="media_overlay audio-link" data-id="<%= aud.id %>"><a href="javascript:void(0);"><%= image_tag "audio_placeholder.png", style: "width: 160px; height: 120px;" %>
              <div class="desc"><%= aud_name %></div></a>
              </div>
              <% end %>
            <% else %>
              <p class="lead">You haven't uploaded any audio files through BucketBox yet.</p>
              <div style="width: 100%;" class="flex-center"><button class="btn btn-primary add-audio-btn" type="button"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Upload Your First Sound File</button></div>
            <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Audio Details</h3>
          </div>
          <div class="panel-body audio-details-panel">
            Click on an audio file from your list to view its details.
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modals. -->
<!-- Add to bucket modal. -->
<div class="modal fade" id="add_to_bucket_modal" tabindex="-1" role="dialog" aria-labelledby="addToBucketModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="addToBucketModalLabel">Add to Bucket</h4>
      </div>
      <div class="modal-body buckets-sel-list-container"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning add-image-to-bucket-btn" data-media-type="">Add To Bucket</button>
      </div>
    </div>
  </div>
</div>
<!-- End add to bucket modal. -->

<!-- Upload pics modal. -->
<div class="modal fade" id="upload_pics_modal" tabindex="-1" role="dialog" aria-labelledby="uploadPicsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadPicsModalLabel">Upload Pictures</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
    		  <div class="panel-heading">Uploading Your Pictures</div>
    		    <div class="panel-body">
                To upload a picture to S3, simply drag it into the box below or, if you prefer, click anywhere in the box to open a file selection dialog.

              <%= form_for @images, url: {action: "image_upload", controller: "media"}, html: {class: "dropzone", multipart: true, style: "border: 3px dashed #bbbbbb; font-size: 14pt;"} do |f| %>
                <div class="fallback">
                  <%= f.file_field :image %><br>
                  <%= f.submit "Upload" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<!-- End upload pics modal. -->

<!-- Upload vids modal. -->
<div class="modal fade" id="upload_vids_modal" tabindex="-1" role="dialog" aria-labelledby="uploadVidsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadVidsModalLabel">Upload Videos</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
    		  <div class="panel-heading">Uploading Your Videos</div>
    		    <div class="panel-body">
                  To upload a video to S3, simply drag it into the box below or, if you prefer, click anywhere in the box to open a file selection dialog.

              <%= form_for @videos, url: {action: "video_upload", controller: "media"}, html: {class: "dropzone", style: "border: 3px dashed #bbbbbb; font-size: 14pt;", multipart: true} do |f| %>
                <div class="fallback">
                  <%= f.file_field :video %><br>
                  <%= f.submit "Upload" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<!-- End upload vids modal. -->


<!-- Upload audios modal. -->
<div class="modal fade" id="upload_audio_modal" tabindex="-1" role="dialog" aria-labelledby="uploadAudioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadAudioModalLabel">Upload Audio</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
    		  <div class="panel-heading">Uploading Your Audio</div>
    		    <div class="panel-body">
                  To upload a sound file to S3, simply drag it into the box below or, if you prefer, click anywhere in the box to open a file selection dialog.

              <%= form_for @audios, url: {action: "audio_upload", controller: "media"}, html: {class: "dropzone", style: "border: 3px dashed #bbbbbb; font-size: 14pt;", multipart: true} do |f| %>
                <div class="fallback">
                  <%= f.file_field :audio %><br>
                  <%= f.submit "Upload" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div> -->
    </div>
  </div>
</div>
<!-- End upload audios modal. -->

<!-- Delete picture modal. -->
<div class="modal fade" id="delete_image_modal" tabindex="-1" role="dialog" aria-labelledby="deleteImageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteImageModalLabel">Delete Image</h4>
      </div>
      <div class="modal-body">        
        Deleting this picture will permanently remove it from BucketBox.<p></p>
        Do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning delete-image">Delete This Image</button>
      </div>
    </div>
  </div>
</div>
<!-- End delete picture modal. -->

<!-- Delete video modal. -->
<div class="modal fade" id="delete_video_modal" tabindex="-1" role="dialog" aria-labelledby="deleteVideoModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteVideoModalLabel">Delete Video</h4>
      </div>
      <div class="modal-body">        
        Deleting this video will permanently remove it from BucketBox.<p></p>
        Do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning delete-video">Delete This Video</button>
      </div>
    </div>
  </div>
</div>
<!-- End delete video modal. -->

<!-- Delete audio modal. -->
<div class="modal fade" id="delete_audio_modal" tabindex="-1" role="dialog" aria-labelledby="deleteAudioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="deleteAudioModalLabel">Delete Sound File</h4>
      </div>
      <div class="modal-body">        
        Deleting this audio file will permanently remove it from BucketBox.<p></p>
        Do you wish to continue?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning delete-audio">Delete This Sound File</button>
      </div>
    </div>
  </div>

<!--/div-->
<!-- End delete audio modal. -->
<!-- End modals. -->