<% if site_images.count > 0 %>
	<% site_images.each do |img| %>
	    <% i = img.file_file_name.split(".") %>
	    <% extension = i.last %>
	    <% if img.file_file_name.size >= 15 %>
	      <% img_name = img.file_file_name.truncate(15).concat(extension) %>
	    <% else %>
	      <% img_name = img.file_file_name %>
	    <% end %>
	    <div class="media_overlay image-link" data-id="<%= img.id %>"><a href="javascript:void(0);">
            <%= image_tag img.file.url(:thumb), width: "120", style: "border: none;" %><div style="padding: 2px 2px 2px 5px;" class="desc"><%= img.file_file_name %></div></a></div>
	<% end %>
<% else %>
	<p class="lead">You haven't uploaded any pictures through BucketBox yet.</p>
	<div class="flex-center" style="width: 100%;"><button type="button" class="btn btn-primary add-pic-btn"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Upload Your First Picture</button></div>
<% end %>