<% if site_videos.count > 0 %>
  <% site_videos.each do |vid| %>
    <% v = vid.file_file_name.split(".") %>
    <% extension = v.last %>
    <% if vid.file_file_name.size >= 25 %>
      <% vid_name = vid.file_file_name.truncate(25).concat(extension) %>
    <% else %>
      <% vid_name = vid.file_file_name %>
    <% end %>
  <div class="media_overlay video-link" data-id="<%= vid.id %>"><a href="javascript:void(0);"><%= image_tag vid.file.url(:thumb), style: "width: 200px;" %><div class="desc"><%= vid_name %></div></a></div>
  <% end %>
<% else %>
  <p class="lead">You haven't uploaded any videos through BucketBox yet.</p>
  <div style="width: 100%;" class="flex-center"><button class="btn btn-primary add-vid-btn" type="button"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Upload Your First Video</button></div>
<% end %>