<% if site_video_count > 4 %>
<ul class="pagination">
  <!--li-->
    <!--a href="#" aria-label="Previous"-->
      <!--span aria-hidden="true">&laquo;</span-->
    <!--/a-->
  <!--/li-->
  <% if site_video_count % 4 > 0 %>
    <% x = (site_video_count / 4) + 1 %>
  <% else %>
    <% x = site_video_count / 4 %>
  <% end %>
  <% c = 1 %>
  <%= until c > x do %>
  <li><a href="#" class="<% if c == 1 %>active<% end %>"><%= c %></a></li>
  <% c += 1 %>
  <% end %>
  <!-- <li>
    <a href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li> -->
</ul>
<% end %>