<% if site_image_count > 8 %>
<ul class="pagination">
  <!--li-->
    <!--a href="#" aria-label="Previous"-->
      <!--span aria-hidden="true">&laquo;</span-->
    <!--/a-->
  <!--/li-->
  <% if site_image_count % 8 > 0 %>
    <% x = (site_image_count / 8) + 1 %>
  <% else %>
    <% x = site_image_count / 8 %>
  <% end %>
  <% c = 1 %>
  <%= until c > x do %>
  <li><a href="#"<% if c == 1 %> class="active"<% end %>><%= c %></a></li>
  <% c += 1 %>
  <% end %>
  <!-- <li>
    <a href="#" aria-label="Next">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li> -->
</ul>
<% end %>