<% if site_audios.count > 0 %>
  <% site_audios.each do |aud| %>
    <% begin %>
      <% meta = eval(aud.metadata) %>
      <% aud_name = "#{meta["title"]}" %>
    <% rescue %>
      <% a = aud.file_file_name.split(".") %>
      <% extension = a.last %>
      <% if aud.file_file_name.size >= 15 %>
        <% aud_name = aud.file_file_name.truncate(15).concat(extension) %>
      <% else %>
        <% aud_name = aud.file_file_name %>
      <% end %>
    <% end %>
  <div class="media_overlay audio-link" data-id="<%= aud.id %>"><a href="javascript:void(0);">
    <%= image_tag "audio_placeholder.png", style: "width: 160px; height: 120px;" %>
  <div class="desc"><%= aud_name %></div></a>
  </div>
  <% end %>
<% else %>
  <p class="lead">You haven't uploaded any audio files through BucketBox yet.</p>
  <div style="width: 100%;" class="flex-center"><button class="btn btn-primary add-audio-btn" type="button"><i class="fa fa-plus-circle"></i>&nbsp;&nbsp;Upload Your First Sound File</button></div>
<% end %>