<button type="button" class="btn btn-default" id="load_editable_html">Load HTML</button>
<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading">BucketBox Page Editor</div>
    <div class="panel-body">
      <form>
        <textarea id="edit" name="content">

        </textarea>
      </form>
    </div>
  </div>
</div>

<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">Page Details</div>
    <div class="panel-body">
      <label for="site_title">Site Title</label>
      <input type="text" class="form-control" placeholder="My Site Title" />
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Widgets</div>
    <div class="panel-body">
      <div class="row" style="margin: 5px 0 5px 0;">
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Map"><i class="fa fa-globe"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Countdown"><i class="fa fa-clock-o"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Popup"><i class="fa fa-arrow-circle-o-up"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Social Buttons"><i class="fa fa-share-square-o"></i></button></div>
      </div>
      <div class="row" style="margin: 5px 0 5px 0;">
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Google Calendar"><i class="fa fa-calendar-o"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Google Analytics"><i class="fa fa-line-chart"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Facebook Comments"><i class="fa fa-facebook-square"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Content Slider"><i class="fa fa-arrows-h"></i></button></div>
      </div>
      <div class="row" style="margin: 5px 0 5px 0;">
        <div class="col-sm-3"></div>
        <div class="col-sm-3"></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="RSS Feed"><i class="fa fa-rss"></i></button></div>
        <div class="col-sm-3"><button type="button" class="btn btn-default" title="Presentation"><i class="fa fa-eye"></i></button></div>
      </div>
    </div>
  </div>
</div>
