<!-- Templates. -->
<script type="text/template" id="no_sites_tmpl">
  <div class="vertical-center" style="width: 100%; height: 100%; text-align: center; margin-top: 25px;">
    <p class="lead">You do not not have any sites in BucketBox yet.</p>
    <button class="btn btn-primary add-site-btn"><i class="fa fa-plus-circle"></i>Click here to create your first</button>
  </div>
</script>

<script type="text/template" id="sites_tbl_tmpl">
  <table class="table table-hover">
    <tr>
        <th>Site name</th>
        <th>Domain name</th>
        <th>Mode</th>
        <%#th>Total visits</th%>
        <th>Creation date</th>
    </tr>
  </table>
</script>

<script type="text/template" id="sites_tbl_row_tmpl">
  <tr data-id="" class="site-list-tr">
    <td class="site-name"></td>
    <td class="site-domain"></td>
    <td class="site-mode"></td>
    <%#td class="site-visits"></td%>
    <td class="site-created-at"></td>
  </tr>
</script>

<%= render partial: 'partials/sites/site_details' %>

<script type="text/template" id="new_site_pages">
  <tr>
    <td align="left"><input type="checkbox" class="external-link-chk" style="text-align: right;"></td>
    <td cellspacing="5"><input type="text" class="form-control page-item" placeholder="Page Title" value="" /></td>
    <td><input type="text" class="form-control page-link" placeholder="http://www.example.com/page.html"></td>
  </tr>
</script>

<script type="text/template" id="subdomain_row">
  <div class="subdomain view">
    <a href="javascript:void(0);" class="toggle-subdomain edit"><i class="fa fa-pencil-square-o"></i></a>
    <a href="javascript:void(0);" class="remove-subdomain edit"><i class="glyphicon glyphicon-remove"></i></a>

  </div>
  <div class="input-group subdomain edit">
    <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
  </div>
</script>
<!-- End templates. -->

<div id="sites">
<div class="container">
<div class="row">
<div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong class="panel-title bdown">YOUR SITES</strong><div class="bucket-panel-title"><a href="#" class="pull-right add-site-btn"><div class="panel-elements gray-btn"><i class="fa fa-plus-circle"></i>ADD SITE</div></a></div>
      </div>


      <div class="panel-body">
      <hr class="first-panel-body-hr">

       <div class="search-select-form">
            <%= form_tag '/search_files', id: 'search_files' do %>
              <i class="fa fa-search"></i>
              <%= text_field_tag(:data_search_files, nil, placeholder: 'Search' ) %>
            <% end %>
            <div class="bm-btn pull-right">
              <%#= select_tag "bucket_filter", options_from_collection_for_select(@buckets, "id", "label"), include_blank: "Filter Mode", class: 'selectpicker', 'data-style' => "btn-primary" %>
              <%#= select_tag "media_filter", options_for_select(@media_types), include_blank: "Filter Date", class: 'selectpicker', 'data-style' => "btn-primary"  %>
            </div>
          </div>

          <div id="collection_filters">
            <div class="button-heading pull-right" style="margin: 10px;">
              <button id="sites_style_list" data-style="list" type="button" class="btn btn-info" disabled>
                <span class="glyphicon glyphicon-align-justify"></span>
              </button>
              <button id="sites_style_grid" data-style="grid" type="button" class="btn btn-info">
                <span class="glyphicon glyphicon-th-large"></span>
              </button>
            </div>
          </div>
        <div class="site_render_collection">
          <%= render partial: 'partials/site_list' %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title"><strong>SITE DETAILS</strong></h2>
        <hr>
      </div>
      <div class="panel-body site-details-panel">
        Click on a site from your list to view its details.
      </div>
    </div>
  </div>
</div>
<!-- Choose site creation wizard modal. -->
<div class="modal fade" id="site_creation_method_modal" tabindex="-1" role="dialog" aria-labelledby="siteCreationMethodModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" style="width: 80%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close close_vid" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle fa-times-circle-close"></i></span></button>
        <strong>Add A Site</strong>
      </div>
      <div class="modal-body" style="padding: 0 30px 30px 30px;">
    		  <p class="modal-site-title">How do you want to create your site?</p>

          <table class="table modal-site-table">
            <tr>
              <th>Import A Page</th>
              <th>Use A Template</th>
              <th>Import A Site</th>
              <th>Upload A Site</th>
            </tr>

            <tr>
              <td>
                <div style=" display: flex; flex-wrap: nowrap; justify-content: center;"><span class="fa fa-chevron-circle-right fa-4x"></span></div>
                <p>Create a copy of <em><strong>any</strong></em> web page, hosted on your S3 account.</p>
                <div>
                  <div class="check"><label><input type="checkbox" name="wont_steal_webpages" id="wont_steal_webpages" /><span></span></label>&nbsp;</div>
                  <p class="check-p">I understand that copying web pages without permisson is illegal, and that I shouldn't do it.</p>
                </div>
              </td>

              <td>
                <div class="text-align: center;">
                  <div style=" display: flex; flex-wrap: nowrap; justify-content: center;"><span class="fa fa-file-text fa-4x"></span></div>
                  <p>If you don't already have a site or page you wish to upload to Amazon S3, you can use one of our beautiful templates as a base.</p>
                </div>
              </td>

              <td>
                <div class="text-align: center;">
                  <div style=" display: flex; flex-wrap: nowrap; justify-content: center;"><span class="fa fa-chevron-circle-right fa-4x"></span></div>
                </div>
                <p>Move a website that you've created on your computer onto S3.</p>
                <p><strong>Note: </strong>Uploaded sites will be automatically published to S3 when they are uploaded.</p>
              </td>

              <td>
                <div style=" display: flex; flex-wrap: nowrap; justify-content: center;"><span class="fa fa-chevron-circle-up fa-4x"></span></div>
                <p>Create a copy of <em><strong>any</strong></em> website, hosted on your S3 account.</p>
                <div class="check"><label><input type="checkbox" name="wont_steal_websites" id="wont_steal_websites" /><span></span></label></div>&nbsp;<p class="check-p">I understand that copying websites without permisson is illegal, and that I shouldn't do it.</p>
                <br>
                <div class="check"><label><input type="checkbox" name="publish_imported_site_now" id="publish_imported_site_now" /><span></span></label></div>&nbsp;<p class="check-p">Publish my cloned website to S3 immediately, without any editing.</p>
              </td>
            </tr>

            <tr>
              <td><button class="btn btn-primary panel-elements" type="button" id="import_page_btn" disabled><span class="fa fa-check-circle"></span>&nbsp;CREATE</button></td>
              <td><button class="btn btn-primary panel-elements" type="button" id="new_site_btn"><span class="fa fa-check-circle"></span>&nbsp;CREATE</button></td>
              <td><button class="btn btn-primary panel-elements" type="button" id="upload_site_btn"><span class="fa fa-check-circle"></span>&nbsp;CREATE</button></td>
              <td><button class="btn btn-primary panel-elements" type="button" id="import_site_btn" disabled><span class="fa fa-check-circle"></span>&nbsp;CREATE</button></td>
            </tr>
          </table>


        </div>
    </div>
  </div>
</div>
<!-- End choose site creation modal. -->

<!-- Site wizard. -->
<div class="modal fade" id="site_wizard_modal" tabindex="-1" role="dialog" aria-labelledby="siteWizardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="siteWizardModalLabel">Create A New Website</h4>
      </div>
      <div class="modal-body">
        <label for="website_name_txt">Name of site:</label>
        <input type="text" placeholder="My Website" class="form-control" id="website_name_txt" />
        <input type="hidden" id="selected_template" value="" />

        <div id="new_site_templates">
          <h4>Choose A Template</h4>

          <ul class="nav nav-tabs" role="tablist">
          <% @template_designs.each_with_index do |design, ndx| %>
            <li role="presentation"<% if ndx === 0 %> class="active"<% end %>><a href="#<%= design.name %>" aria-controls="<%= design.name %>" role="tab" data-toggle="tab"><%= design.label %></a></li>
          <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
          <% @template_designs.each_with_index do |design, ndx| %>
            <div role="tabpanel" class="tab-pane<%= " active" if ndx === 0 %>" id="<%= design.name %>">
              <div style="display: flex; content-justify: center; flex-wrap: wrap; height: 250px; overflow-y: auto;">
              <% if design.templates.count > 0 %>
                <% design.templates.each do |template| %>
                <div class="template-desc-div" data-id="<%= template.id %>">
                  <%= image_tag "templates/#{template.thumbnail}", style: "float: left; width: 100px; margin: 10px;" %>
                  <p><%= raw(template.description) %><!-- <a href="#">[more]</a>--></p>
                </div>
                <% end %>
              <% else %>
                <p style="text-align: center; margin: 25px 0 0 0;">
                  You don't have any <%= design.label %> templates in BucketBox yet.
                </p>
              <% end %>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="save_template_btn"><i class="fa fa-sitemap"></i>Create Website</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End site wizard. -->

<!-- Upload site modal. -->
<div class="modal fade" id="upload_site_modal" tabindex="-1" role="dialog" aria-labelledby="uploadSiteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="uploadSiteModalLabel">Upload Site</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
    		  <div class="panel-heading">Uploading Your Site</div>
    		    <div class="panel-body">
              <p>Before you upload a website to be published on S3, you will need to add it to a .zip file.</p>
              <p>If you are using Windows, <a>click here for instructions on creating a .zip file</a>.</p>
              <p>If you are using Mac OS X, <a>click here for instructions on creating a .zip file</a>.</p>



              <%= form_for @site_upload, url: {action: "upload_site", controller: "spa"}, html: {class: "dropzone", style: "border: 3px dashed #bbbbbb; font-size: 14pt;", multipart: true, id: "upload_site_dropzone"} do |f| %>
                <div class="fallback">
                  <%= f.file_field :site %><br>
                  <%= f.submit "Upload" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End upload site modal. -->

  <!-- Google analytics modal -->
  <div class="modal" id="analytics_modal" tabindex="-1" role="dialog" aria-labelledby="analyticsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="analyticsModalLabel">Add Google Analytics Code</h4>
        </div>
        <div class="modal-body">
          <div id="add_analytics_group">
            <div class="input-group">
              <input type="url" id="site_ganalytics" class="form-control" placeholder="XXX-2342423-GA" style="width: 100%;" autofocus required />
              <div class="input-group-btn">
                <button class="btn btn-primary" type="button" id="save_site_ganalytics"><i class="fa fa-floppy-o"></i></button>
                <button class="btn btn-warning" type="button" id="clear_site_ganalytics"><i class="fa fa-times"></i></button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="save_google_analytcs_btn" data-page-url="" disabled>Save</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Google analytics modal -->

<%= modal('import_page') { render partial: 'partials/sites/import_page' } %>
<%= modal('import_site') { render partial: 'partials/sites/import_site' } %>

<!-- Confirm site deletion modal -->
<div class="modal" id="confirm_site_delete_modal" tabindex="-1" role="dialog" aria-labelledby="confirmSiteDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-sm">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmSiteDeleteModalLabel">Delete this site</h4>
      </div>
      <div class="modal-body">
        Warning - deleting this site is permanent and cannot be undone.<p></p>
        Are you sure you want to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="delete_site_btn">Delete Site</button>
      </div>
    </div>
  </div>
</div>
<!-- End confirm site deletion modal -->

<!-- Confirm page clone modal -->
<div class="modal" id="confirm_page_clone_modal" tabindex="-1" role="dialog" aria-labelledby="confirmPageCloneModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmPageCloneModalLabel">Clone This Page</h4>
      </div>
      <div class="modal-body">
        <span class="lead">What would you like to name your clone of this page?</span>
        <input type="text" name="page_clone_label" id="page_clone_label" class="form-control" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="clone_page_btn" data-page-url="">Clone Page</button>
      </div>
    </div>
  </div>
</div>
<!-- End confirm page clone modal -->

<!-- Confirm site deletion modal -->
<div class="modal" id="confirm_page_delete_modal" tabindex="-1" role="dialog" aria-labelledby="confirmPageDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="confirmPageDeleteModalLabel">Delete this page</h4>
      </div>
      <div class="modal-body">
        Warning - deleting this page is permanent and cannot be undone.<p></p>
        Are you sure you want to do this?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="delete_page_btn" data-page-url="">Delete Page</button>
      </div>
    </div>
  </div>
</div>
<!-- End confirm site deletion modal -->

<!-- Domain management modal -->
<%= render "partials/site_domains" %>
<!-- End domain management modal -->

 <div aria-labelledby="myModalLabel" class="modal fade" id="edit_site" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button aria-label="Close" class="close close_vid" data-dismiss="modal" type="button"><span aria-hidden="true"><i class="fa fa-times-circle fa-times-circle-close"></i></span></button>
        <div class="modal-title" id="myModalLabel">
          <strong>Edit Your Site</strong>
        </div>
      </div>
      <div class="modal-body">
        <p>
          Choose the page you want to edit from the dropdownmenu below and then click the ‘Edit’ button.
        </p>
        <div class="search-select-form">
            <%= form_tag '/search_files', id: 'select_site_page' do %>
              <%= text_field_tag(:site_page, nil, placeholder: 'Home Page' ) %>
            <% end %>
          <div class="bm-btn pull-right">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="height: 30px; width: 100px;">
                Pages
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="pagesDropDownMenu" id="site_pages_dropdown">

              </ul>
            </div>
          </div>
            <!--<div class="bm-btn pull-right">-->
              <!--<%= select_tag "site_page_filter", options_from_collection_for_select(@sites, "id", "label"), include_blank: "Choose Page", class: 'selectpicker', 'data-style' => "btn-primary" %>-->
            <!--</div>-->
          </div>
        <br>
        <div class="col-md-4">
        <button class="btn btn-default file-modal-btns" data-dismiss="modal" type="button" style="width: 90%;"><i class="fa fa-times-circle"></i>&nbsp;CANCEL</button>
        </div>
        <div class="col-md-4">
        <button class="btn btn-default file-modal-btns" data-dismiss="modal" type="button" style="width: 90%;"><i class="fa fa-trash-o"></i>&nbsp;DELETE</button>
        </div>
        <div class="col-md-4">
        <button class="btn btn-primary file-modal-btns" type="button" style="width: 90%;"><i class="fa fa-pencil-square"></i>&nbsp;EDIT</button>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
</div>
