<div class="modal fade" id="manage_domains_modal" tabindex="-1" role="dialog" aria-labelledby="manageDomainsModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title" id="manageDomainsModalLabel">Manage Domains</h4>
      </div>
      <div id="error_body" class="modal-body display-none">
        <p>BucketBox is unable to connect to the internet and access your domain list for this site.</p>
        <p>Please check your internet connection and try again.</p>
      </div>
      <div id="loading_body" class="modal-body">
        <i class="fa fa-spinner fa-spin" style="font-size: 32pt;"></i>
      </div>
      <div id="data_body" class="modal-body display-none" id="domain_mgr_modal_body">
        <button id="add_domain" class="btn btn-primary pull-right domain add" type="button"><i class="fa fa-plus"></i>&nbsp;Add
        </button>
        <div id="domain_manager"></div>

        <div id="add_domain_group" class="display-none" style="padding: 10px;">
          <label for="add_domain_text">New Domain:</label>
          <div class="input-group">
            <input type="url" id="add_domain_text" class="form-control main-domain text add full-width" placeholder="example.com" autofocus required/>
            <div class="input-group-btn">
              <button class="btn btn-primary main-domain add" type="button"><i class="fa fa-floppy-o"></i></button>
              <button class="btn btn-warning main-domain cancel" type="button"><i class="fa fa-times"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="btn_save_domains" data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>
</div>
<!-- Templates -->
<!-- Domain template -->
<script type="text/template" id="domain_tmpl">
  <div class="domains-container" data-id="">
    <label for="main-domain">Domain:<br>
      <small>(without www or other subdomain)</small>
    </label>
    <p class="main-domain display" style="display: flex;">
      <a href="javascript:void(0);" class="main-domain remove"><i class="fa fa-times"></i></a>&nbsp;
      <a href="javascript:void(0);" class="main-domain show edit">
        <i class="fa fa-pencil-square-o"></i></a>&nbsp;&nbsp;<span class="main-domain text"></span>
    </p>

    <div class="main-domain edit display-none">
      <div class="input-group">
        <input type="url" id="main_domain_text" class="form-control main-domain edit text full-width" placeholder="example.com" autofocus required/>
        <div class="input-group-btn">
          <!-- <button class="btn btn-primary main-domain save" type="button"><i class="fa fa-floppy-o"></i></button> -->
          <button class="btn btn-warning main-domain cancel" type="button"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>

    <div class="subdomain">
      <button class="btn btn-primary pull-right subdomain add" type="button"><i class="fa fa-plus"></i>&nbsp;Add
      </button>
      <label for="subdomain">Subdomains:<br>
        <small>(www, blog, etc.)</small>
      </label>
      <!-- Subdomain list -->
      <div class="subdomains-list"></div>
      <div class="add-subdomain-container display-none">
        <div class="input-group">
          <input type="text" class="form-control subdomain add edit" placeholder="i.e. www" autofocus/>
          <div class="input-group-btn">
            <button class="btn btn-primary subdomain add save" type="button"><i class="fa fa-floppy-o"></i></button>
            <button class="btn btn-warning subdomain add cancel" type="button"><i class="fa fa-times"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
<!-- End domain template -->

<!-- Subdomain template -->
<script type="text/template" id="subdomain_tmpl">
  <div class="subdomain container" data-id="">
    <div id="subdomain display">
      <a href="javascript:void(0);" class="subdomain remove"><i class="glyphicon glyphicon-remove"></i></a>&nbsp;&nbsp;<span class="subdomain text"></span>
      . <span class="main-domain text"></span>
    </div>

    <div id="subdomain_edit" class="subdomain edit display-none">
      <div id="edit_subdomain_fields" class="input-group">
        <input type="text" class="form-control subdomain text edit" value="" autofocus/>
        <div class="input-group-btn">
          <button class="btn btn-primary subdomain save" type="button"><i class="fa fa-floppy-o"></i></button>
          <button class="btn btn-warning subdomain cancel" type="button"><i class="fa fa-times"></i></button>
        </div>
      </div>
    </div>
  </div>
</script>
<!-- End subdomain template -->
<!-- End templates -->