<div class="sites-list" id="sites-list">
  <% if @sites.size > 0 %>
    <% @sites.each do |site| %>
      <% if site.label.size > 20
           site_label = site.label.truncate(20)
         else
           site_label = site.label
      end %>
      <div class="site-list-tr media_overlay" data-id="<%= site.id %>" style="display: flex; justify-content: center; align-items: center;">
        <%= image_tag "templates/#{site.template.thumbnail}" %>
        <div style="padding: 2px 2px 2px 5px; width: 222px; color: white;" class="desc"><%= site_label %></div>
      </div>
    <% end %>
  <% else %>
    <p class="lead">You do not not have any sites in BucketBox yet.</p>
    <button class="btn btn-primary add-site-btn"><i class="fa fa-plus-circle"></i>Click here to create your first</button>
  <% end %>
</div>
