<div class="sites-list" id="sites-list">
  <% if @sites.size > 0 %>
    <table class="table table-hover" style="font-size: 16pt;">
      <tr>
        <th>Site name</th>
        <th>Domain name</th>
        <th>Mode</th>
        <th>Date Created</th>
      </tr>

      <% @sites.each do |site| %>
        <% domain = site.domain
           unless site.domain.blank? || site.domain[0,4] == "http"
             domain = "http://#{site.domain}"
           end %>
        <tr class="site-list-tr" data-id="<%= site.id %>">
          <td><%= site.label %></td>
          <td><%= link_to_unless site.domain.blank?, site.domain, domain.to_s, target: "blank" %></td>
          <td><%= site.mode %>
          </td>
          <td><%= site.created_at.strftime("%B %e, %Y") %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="vertical-center" style="width: 100%; height: 100%; text-align: center; margin-top: 25px;">
      <p class="lead">You don't have any sites in BucketBox yet.</p>
      <button class="btn btn-primary add-site-btn"><i class="fa fa-plus-circle"></i>Click here to create your first</button>
    </div>
  <% end %>
</div>
