<div id="tutes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <strong class="panel-title bdown">TUTORIALS</strong>
          </div>
          <div class="panel-body">
            <hr>
            <p>
              Select a tutorial training category from the dropdown below and click on the video thumbnail to
              view the video tutorial.
            </p>

            <div class="full-btn-width">
              <div class="search-select-form">
                <%= form_tag '/search_tutes', id: 'search_tutes' do %>
                  <i class="fa fa-search"></i>
                  <%= text_field_tag(:data_search_tutes, nil, placeholder: 'Search' ) %>
                <% end %>
                <div class="bm-btn pull-right">
                   <%= select_tag :category, options_from_collection_for_select(@categories, "id", "name"), include_blank: "Select Category", 'onchange'=>"selectTute()", class: 'selectpicker', 'data-style' => "btn-primary"  %>
                </div>
              </div>
            </div>
            <hr class="search_hr">
            <div id="tutes_render_collection">
              <%= render partial: 'partials/tutes_list' %>
            </div>

            <% @tutes.each do |tute| %>
              <div class="modal fade bs-example-modal-lg" tabindex="-1" id="modal-<%= tute.id %>" >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="video_window">
                      <button type="button" class="close close_vid" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                          <i class="fa fa-times-circle" style="background: white;"></i>
                        </span>
                      </button>

                      <video id="video-<%= tute.id %>" class="video-js vjs-default-skin tute_videos" controls preload="auto" width="100%" height="600" >
                        <source type="video/vimeo" src="<%= tute.url_high %>"></source>
                        <p>Video Playback Not Supported</p>
                      </video>
                      <div class="tute_video_url" id="<%= tute.url_high %>">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
