<div class="media-overlay-container flex-wrapped file-container">
  <% @tutes.each do |tute| %>
    <a href="#" data-toggle="modal" data-target="#modal-<%= tute.id %>">
      <div class="col-md-4 video_card" id="<%= tute.id %>" >
      <%= image_tag("play.png", width: "15%", class: "little-play-btn") %>
        <div class="thumbnail_big">
          <%= image_tag(tute.vimeo_thumbnail, class: "img_preview img_thumbnail") %>
        </div>
          <%= image_tag("little-video-panel.png", class: "img_preview little-panel") %>
      </div>
    </a>
<% end %>

</div>
