<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link rel="stylesheet" href="{{ "style.css" | prepend: site.baseurl }}">
    <%= "<style>".html_safe %>
    <%= render file: "./app/views/sites/#{@directory}/style.css" %>
    <%= ".intro { display: table; width: 100%; height: auto; padding: 100px 0; text-align: center; color: #fff; background: url(/assets/templates/grayscale-theme-master/img/intro-bg.jpg) no-repeat bottom center scroll; background-color: {{ site.color.primary-dark }}; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }".html_safe %>
    <%= ".download-section { width: 100%; padding: 50px 0; color: #fff; background: url(/assets/templates/grayscale-theme-master/img/downloads-bg.jpg) no-repeat center center scroll; background-color: {{ site.color.primary-dark }}; -webkit-background-size: cover; -moz-background-size: cover; background-size: cover; -o-background-size: cover; }".html_safe %>
    <% ############################################ %>
    <%= "<style>".html_safe %>
    <%= stylesheet_link_tag "/stylesheets/raptor-front-end.min.css" %>
    <%= "</style>".html_safe %>
    <%= "<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>".html_safe %>
    <%= "<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>".html_safe %>
    <%= javascript_include_tag "/assets/javascripts/raptor.min.js" %>
    <%= "<script type='text/javascript'>".html_safe %>
    <%= "raptor(function($) { $('.raptor-editable').raptor() });".html_safe %>
    <%= "</script>".html_safe %>
    <% ############################################ %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
