<div class="container">
  <div class="row fs-vertical-offset-100">
      <div class="col-md-4 col-md-offset-4">
          <div class="fs-panel panel-default">
              <div class="panel-heading">
                  <div class="row-fluid user-row">
                    <%= image_tag "title_logo.png", alt: "BucketBox" , class: "fs-img-responsive", width: "120" %>
                    <%#= image_tag "bucketbox_logo.png", alt: "BucketBox" , class: "fs-img-responsive", width: "120" %>
                  </div>
              </div>
              <div class="panel-body">
				<!--h2>Forgot your password?</h2-->
				<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
				  <%= devise_error_messages! %>

				  <div class="field">
				    <%= f.label :email %><br />
				    <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "email@example.com" %>
				  </div>

				  <div class="actions">
				    <%= f.submit "Send me password reset instructions", class: "btn btn-warning btn-block", style: "width: 100%" %>
				  </div>
				<% end %>

				<div class="row">
					<div class="col-sm-6" style="width: 50%;"><%= link_to "Login", new_user_session_path, class: "btn btn-lg btn-success btn-block", style: "width: 100%; color: white;" %></div>
					<div class="col-sm-6" style="width: 50%;"><%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-info btn-block", id: "register", style: "width: 100%; color: white;" %></div>
				</div>
			</div>
		</div>
	</div>
</div>