<div class="page-header">
<h1>Events (<%= @events.count %>)
</h1>
</div><div class="row">
<div class="col-md-12">
<table class="table table-striped">
<thead>
<tr>
<th>Time</th>
<th>Name</th>
<th>Page
</th>
</tr></thead><tbody>
<% @events.each do |event|
 %><tr class="success">
<td><%= event.time %>
</td><td><%= event.name %>
</td><td><%= event.page %>
</td></tr><tr>
<td colspan="4">
<strong>Properties:</strong>
 <%= event.properties %>
</td></tr><% end %></tbody></table></div></div>
