<!DOCTYPE html>
<html>
    {% include head.html %}
    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <%= "<div class='raptor-editable'>".html_safe %>
    {% include nav.html %}
    {% include header.html %}
    {% include about.html %}
    {% include download.html %}
    {% include contact.html %}
    {% include map.html %}
    {% include footer.html %}
    <%= "</div>".html_safe %>
    {% include js.html %}
    </body>
</html>
