<header>
<a id="go-back-home" href="/"><img src="<%= "/assets/templates/scribble-master".html_safe %>/images/scribble.png" alt="scribble" width="53" height="59"></a>
<p>{{ site.title }}</p>
</header>
