<link href='/images/fav.png' rel='shortcut icon'>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/syntax.css' rel='stylesheet' type='text/css' />
<link href='/stylesheets/responsive.css' rel='stylesheet' type='text/css' />

<%= "<style>".html_safe %>
<%= render file: "./app/views/sites/#{@directory}/stylesheets/style.css" %>
<%= render file: "./app/views/sites/#{@directory}/stylesheets/syntax.css" %>
<%= render file: "./app/views/sites/#{@directory}/stylesheets/responsive.css" %>
<!-- - -->
<script src='/javascripts/jquery.js' type='text/javascript'></script>
<script src='/javascripts/pd.js' type='text/javascript'></script>
<script src='/javascripts/basics.js' type='text/javascript'></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<%= "<script type='text/javascript'>".html_safe %>
<%= render file: "./app/views/sites/#{@directory}/javascripts/jquery.js" %>
<%= render file: "./app/views/sites/#{@directory}/javascripts/pd.js" %>
<%= render file: "./app/views/sites/#{@directory}/javascripts/basics.js" %>
<%= "</script>".html_safe %>

<% ############################################ %>
<%= "<style>".html_safe %>
<%= stylesheet_link_tag "/stylesheets/raptor-front-end.min.css" %>
<%= "</style>".html_safe %>
<%= "<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>".html_safe %>
<%= "<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>".html_safe %>
<%= javascript_include_tag "/assets/javascripts/raptor.min.js" %>
<%= "<script type='text/javascript'>".html_safe %>
<%= "raptor(function($) { $('.raptor-editable').raptor() });".html_safe %>
<%= "</script>".html_safe %>
<% ############################################ %>
<!-- - -->
<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>
<meta content='text/html; charset=utf-8' http-equiv='content-type' />
<meta content="http://muan.co/images/og.png" property="og:image" />
<meta content="{{ site.facebook_appid }}" property="fb:app_id" />
{% if page.date %}
  <meta content='{{ site.url }}{{ page.url }}' property='og:url' />
  <meta content="{{ page.content | strip_html | strip_newlines | truncate: 120 }}" property='og:description' />
  <meta content="article" property="og:type" />
{% else %}
  <meta content='{{ site.url }}' property='og:url' />
  <meta content="{{ site.description }}" property='og:description' />
  <meta content="blog" property="og:type" />
{% endif %}
<!-- - -->
{% include ga.html %}
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1&appId=604714799556697";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
