<br />
<p>
  Til next time,<br/>
  {{ site.signoff }}
  <span class="muted">{{ page.date | date: "at %H:%M" }}</span>
</p>
<p>
  <img src="<%= "/assets/templates/scribble-master".html_safe %>/images/scribble3.png" alt="scribble" /> 
</p>
