---
layout: base
---
<div class="wrapper">
    <%= "<div class='raptor-editable'>".html_safe %>
    <header>
        {% if site.logo %}
        <div class="logo-container">
          <!--a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.logo }}')"></a-->
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('<%= "/assets/templates/compass-master".html_safe %>/images/compass.png')"></a>
        </div>
        {% endif %}

        {% if site.author %}
        <div class="author-container"><h1>{{ site.author }}</h1></div>
        {% endif %}

        {% if site.tagline %}
        <div class="tagline-container"><p>{{ site.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
      {% if site.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
    <%= "</div>".html_safe %>
</div>

<div class="block">
  {% for link in site.links %}
    <a target="{% if link.external %}_blank{% else %}_top{% endif %}" class="main" href="{{ link.url }}">{{ link.name }}</a>
  {% endfor %}
</div>