#subdomains_info { margin: 10px 0px 10px 15px; }
#loading_body { display: flex; align-items: center; flex-direction: row; height: 150px; justify-content: center; }
.display-none { display: none; }
.full-width { width: 100%: }