// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.svg{
  .btn:focus {
    outline: none;
  }

  .panel-elements{
    background: gray;
  }

  .container{
    margin-top: 20px;
    width: 99% !important;
    box-sizing: border-box;
  }

  .inline-head{
    display: inline-block;
    line-height: 50px
  }

  a .fa-sign-out,
  .pull-right-user,
  .fa-life-ring{
    float: right;
    padding: 10px;
  }

  .fa-3x, .fa-4x{
    color: gray;
  }

  .fa-2x{
    color: white;
  }

  .dropdown-toggle{
    padding: 0;
    margin-bottom: -10px;
  }

  .nav-tabs>li.active>a{
    background-color: white;
    text-decoration: none;
    color: white;
    border: 1px solid gray;
    border-radius: 0;
    border-bottom-color: transparent;
  }

  .nav-tabs>li>a{
    border-bottom-color: gray;
    margin-right: 0;

    .panel-elements{
      background: gray;
    }
  }

  .nav-tabs>li>a>div>span{
    font-size: 17px;
    font-weight: bold;
  }

  .nav-tabs>li.active>a>.panel-elements{
    background: #EE7600;
  }

  .panel-elements{
    border-radius: 5px;
    padding: 13px 20px;
    width: 200px;
    color: white;
    text-align: center;
  }

  i{
    float: left;
  }

  .nav-tabs{
    border-bottom-color: gray;
  }

  ::-webkit-scrollbar{
    width: 7px;
    height: 0;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: white;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 30px;
  }


  #dashboard,
  #bucket,
  #files,
  #sites,
  #tutes{
    margin-top: 40px;

    a{
      text-decoration: none;
    }

    .modal-body {
      max-height: calc(100vh - 100px);
      overflow-y: auto;
    }

    .panel-default{
      padding: 10px;
      background-color: #f5f5f5;
      border: none;
      min-height: 200px;
      font-size: 18px;
      box-shadow: 2px 2px 1px #ededed;

      .panel-heading>.panel-title{
        font-size: 25px;
      }

      .panel-body{
        padding-top: 0;
        font-size: 24px;

        .first-panel-body-hr{
          margin-bottom: 30px;
        }
      }

      .panel-heading{
        border: none;
        padding-bottom: 0;
      }
    }

    hr{
      margin: 10px auto;
      border-color: gray;
    }

    div>.fa-2x{
      color: gray;
      position: relative;
      margin-right: 20px;
    }

    .panel-body>div>p{
      display: inline-block;
    }

    .panel-elements{
      background:  #EE7600;

      i.fa{
        font-size: 33px;
      }
    }

    .white-block{
      font-size: 150%;
      text-align: center;
      height: 70px;
      width: 95%;
      background: white;
      margin: 10px auto;
      border-radius: 20px;
    }

    .chart-block{
      font-size: 75%;
      background: white;
      border-radius: 20px;
    }

    .amazon-login{
      width: 95%;
      padding: 20px;
      background: gray;
      margin: auto;

      a{
        text-decoration: none;
        color: white;
      }

      p{
        margin: 0 auto;
      }

      i.fa{
        font-size: 38px;
      }
    }

    .gray-btn{
      background: gray;
      min-width: 240px;
      font-size: 24px;
    }

    .bucket-panel-title{
      position: inherit;
      width: 100%;
      height: 70px;
      margin-top: -45px;
    }

    .panel-heading{
      padding: 25px;
    }

    .btn-info {
      background: gray;
      border-color: gray;
      font-size: 23px;
      padding: 6px 15px 4px 15px;
    }

    .big-add-btn{
      width: 350px;
      padding: 10px;
    }

    .btn-info[disabled]{
      background: #EE7600;
      border-color: #EE7600;
      opacity: 1;
    }

    .full-btn-width{
      width: 100%;
    }

    a.choosing-file{
      color: black;
      font-size: 20px;
    }

    a.choosing-file:hover,
    a.choosing-file:focus{
      color: #EE7600;
    }

    #collection_filters{
      width: 100%;
      margin-top: 10px;
      height: 70px;

      .search_btn{
        display: inline-block;
        margin: 10px;
        border-radius: 40px;
        padding: 4px;
        font-size: 20px;
        text-align: center;

        p{
          margin: 2px 15px 2px 2px;
        }
      }
    }

    .search-select-form{
      font-size: 24px;
      #site_page:focus,
      #data_search_files:focus,
      #data_search_tutes:focus,
      .btn-primary:focus{
        border-color:#ccc;
        outline: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
      #site_page,
      #data_search_files,
      #data_search_tutes{
        width: 100%;
        border-radius: 7px;
        border: 1px solid #c9c9c9;
        height: 65px;
        padding: 10px 10px 10px 50px;
        font-family: FontAwesome;
      }

      .bm-btn{
        margin: -55px 10px 0 0;

        .dropdown-menu{
          ul{
            background-color: white;
          }
        }
      }

      .fa-search{
        color: gray;
        position: absolute;
        margin: 15px 0 0 10px;
        font-size: 1.3em
      }
    }
    .selectpicker{
      padding: 5px 15px 34px 15px;
      background-color: gray;
      border-color: gray;
      font-size: 20px;
    }

  }

  #tutes,
  #sites{

    .search_hr{
      margin-top: 20px;
    }

    .video_card{
      overflow: hidden;
      margin-top: 30px;
    }

    .thumbnail_big{
      overflow: hidden;
      .img_preview{
        width: 100%;
        overflow: hidden;
      }
    }

    .little-panel{
      width: 100%;
    }

    .img_thumbnail{
      -webkit-filter: brightness(50%);
      filter: brightness(50%);
    }

    .little-play-btn{
      position: absolute;
      z-index:6;
      left: 45%;
      top: 30%;
    }

    .video_window{
      padding: 10px;
    }

    .close{
      opacity: 1;
      z-index: 15;
    }

    .close_vid{
      margin: -25px -25px 0 0;
    }

    .fa-times-circle{
      color: rgba(238,118,0,1.0);
      font-size: 2em;
      text-shadow: none;
      border-radius: 50%;
      padding: 5px 7px;
      z-index: 7;
      position: relative;
    }
  }

  #files,
  #sites{
    #files_render_collection{
      height: 490px;
      overflow: scroll;
    }

    .file-details-panel,
    .site-details-panel{
      padding: 30px;
    }

    .file-img-pen{
      width: 100%;
      background: white;
      border-radius: 20px;
      padding: 20px 0 20px 15px;
      display: inline-block;
    }

    .file_name{
      width: 80%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: -10px;
    }

    .fa-pencil-square{
      color: #ADADAD;
      font-size: 2em;
      position: absolute;
      right: 60px;
      margin-top: -5px;
    }

    .details-section{
      border: none;
    }

    .panel-el-btn{
      font-size: 16px;
      padding: 7px;
      width: 170px;
      font-weight: bold;

      i.fa{
        font-size: 16px;
        margin-top: 4px;
        margin-left: 10px;
      }
    }

    .download-section{
      margin: 20px 0 -20px 0;
    }

    .file-modal-btns{
      background: gray;
      color: white;
      border: none;
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;

      i.fa{
        font-size: 1.5em;
        margin-left: 20px;
      }
    }

    .but-panel-title{
      height: 50px;
    }

    #site_name{
      border-color:#ccc;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }

  #sites{
    #sites_list{
      height: 490px;
      overflow: scroll;
      padding-right: 20px;

      table{
        border-collapse: collapse;

        th,td{
          border: 1px solid gray;
        }

        th{
          padding: 15px;
        }

        th:first-child,
        th:last-child,
        td:first-child,
        td:last-child{
          border-left: none;
          border-right: none;
        }

        td{
          border-bottom: none;
          border-top: none;
          padding: 20px 25px 0 25px;
        }

        tr:hover,
        tr.active{
          color: #EE7600;
          .fa{
            color: #EE7600;
          }
        }

        .fa{
          color: gray;
          font-size: 1.5em;
        }
      }
    }

    .selected-template{
      text-align: center;

      .fa-pencil-square{
        color: white;
        position: inherit;
        margin-top: 0;
      }
    }

    .selected-template-img{
      border: 1px outset gray;
      width: 95%;
      margin: auto;
    }

    .site-process-status{
      color: #1B1B1B;
      background-color: #C6C6C6;
      border-color: #C6C6C6;
    }

    #edit_site_btn{
      margin-top: 20px;
      background: #EE7600;
    }

    .file-modal-btns:focus{
      background: #EE7600;
    }

    .file-modal-btns{
      padding: 7px;
      font-size: 20px;
      //font-size: 24px;
      margin-bottom: 0;

     .file-modal-btns.smaller{
       font-size: 20px;
     }

      i.fa{
        font-size: 1.5em;
      }
    }

    #edit_site,
    #site_creation_method_modal{
      .modal-dialog{
        width: 65%;
      }
      .modal-header{
        background: #EBEBEB;
        text-align: center;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 30px;
        font-size: 30px;
      }

      .fa-times-circle-close{
        background: #EBEBEB;
      }

      .close_vid{
        margin: -50px -50px 0 0;
      }

      .modal-body{
        padding: 50px 100px;
        text-align: center;
        font-size: 26px;

        p{
          padding: 0 50px 50px 50px;
        }

        i.fa{
          position: inherit;
          margin-top: 0;
          color: white;
          padding: 0;
        }

        .modal-site-title{
          padding: 20px;
        }
      }

      #site_page{
        padding: 10px;
        background: #EBEBEB;
      }

      .modal-site-table{
        border: 1px solid gray;

        th, td{
          border: 1px solid gray;
          text-align: center;
          width: 25%;
        }

        td{
          border-top: none;
          border-bottom: none;
          padding: 20px;
        }

        p{
          padding: 5px;
          font-size: 20px;
          display: inline-block;
          text-align: left;
        }

        .check-p{
          width: 75%;
        }

        span.fa-4x{
          color: black;
          padding: 20px;
        }

        .check{
          display: inline-block;
          float: left;

          label{
            width: 26px;
            display: block;
            position: relative;
            margin-top: 5px;
          }

          input[type="checkbox"]:checked + span,
          input[type="checkbox"] + span{
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            background: url(checkbox.png) no-repeat;
            cursor: pointer;
          }

          input[type="checkbox"] + span{
            background: #eaeaea;
            height: 26px;
            margin-top: 5px;
          }
        }

        .panel-elements{
          font-size: 25px;

          span.fa{
            font-size: 36px;
            float: left;
          }
        }
      }
    }
  }
}



