// Place all the styles related to the spas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fs-body {
/*css for full size background image*/
	background: image-url("dark_red_wood_bg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	height: 100%;
	background-color: #060;
}

.fs-form-signin input[type="text"] {
	margin-bottom: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.fs-form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.fs-form-signin .form-control {
	position: relative;
	font-size: 16px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	height: auto;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.fs-vertical-offset-100 {
	padding-top: 100px;
}

.fs-img-responsive {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

.fs-panel {
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/*** Overlay desc for media management ***/
.media-overlay-container {
	display: block;
}

.media_overlay a {
	color:white;
}
.media_overlay {
	display: block;
	/*width:310px;*/
	padding:0;
	margin:0;
}
div.media_overlay {
	position:relative; /*important*/
	float:left; /*important*/
	display:inline; /* also important here */
	list-style-type:none;
	/*width:150px;*/
	padding:0;
	margin:10px;
	margin-bottom:10px; /* Seperate each item vertically */
}
div.media_overlay .desc {
	position:absolute; /* Important */
	width:100%; /* Important */
	bottom:0; /* Important */
	left:0;
	background-color:rgba(0, 0, 0, 0.5);
	filter:alpha(opacity=50);
}
div.media_overlay .desc div {
	padding:5px;
	text-align:center;
}

div.bucket-link>a:hover { color: #EE7600; }

div.media_overlay img {
	vertical-align:top;
	border:1px solid gray; /* or 0px */
}
div.media_overlay:nth-child(even) {
	/*margin-left:5px; /* Seperate each item vertically */
}
div.media_overlay:nth-child(odd) {
	/*margin-right:5px; /* Seperate each item vertically */
}
/* END overlay desc */

.template-desc-div {
	float: left;
	width: 220px;
	margin: 10px;
}

.template-page {
	display: flex;
	flex-wrap: wrap;
}

.template-page.active {
	display: block;
}

.template-desc-div {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.template-desc-div:hover {
	background-color: #eeeeee;
}

.template-desc-div.active {
	background-color: #dddddd;
}

.page-item { padding: 0 15px 0 15px; }
.external-link-chk { text-align: right; }

.image-link .active { border: 2px solid #eeeeee; }

.details-section { padding: 5px 0 5px 0; border-bottom: 1px solid #eeeeee; }

/* Center the content block using flexbox. */
.flex-center {
display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
display: -ms-flexbox;  /* TWEENER - IE 10 */
display: -webkit-flex; /* NEW - Chrome */
display: flex;         /* NEW, Spec - Opera 12.1, Firefox 20+ */
justify-content: center;
-webkit-box-align: center;
-webkit-flex-align: center;
-ms-flex-align: center;
-webkit-align-items: center; }
/* End content block centering. */

/* Wrap a flexbox contents. */
.flex-wrapped {
flex-wrap: wrap;
-webkit-flex-wrap: wrap; }
/* End flexbox wrap. */

/* Added dropzone styles, due to some being overwritten by the Paper theme. */
.dz-images { border: 2px dashed #bbbbbb; }
.dz-images:hover { background-color: #eeeeee; }
/* END dropzone styles */

.pagination>li>a.active { background-color: #dddddd; }

// Make certain input:text 100% width.
#save_domain_name, #save_subdomain_name { margin-left: 0px; }
// #save_subdomain_name { margin-left: 0px; }

table {
  tr {
    word-break: break-all;
  }
}
