<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <%= "<style>".html_safe %>
  <%= render file: "./app/views/sites/#{@directory}/assets/css/style.css" %>
  <%= render file: "./app/views/sites/#{@directory}/assets/css/colors-dark.css" %>

  <link href="assets/css/style.css" rel="stylesheet" />
  <link href="assets/css/colors-dark.css" rel="stylesheet" />

  <% ############################################ %>
  <%= "<style>".html_safe %>
  <%= stylesheet_link_tag "/stylesheets/raptor-front-end.min.css" %>
  <%= "</style>".html_safe %>
  <%= "<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>".html_safe %>
  <%= "<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>".html_safe %>
  <%= "<script type='text/javascript'>".html_safe %>
  <%= render file: "./vendor/assets/javascripts/bootstrap.min.js" %>
  <%= "</script>".html_safe %>
  <%= javascript_include_tag "/assets/javascripts/raptor.min.js" %>
  <%= "<script type='text/javascript'>".html_safe %>
  <%= "raptor(function($) { $('.raptor-editable').raptor() });".html_safe %>
  <%= "</script>".html_safe %>
  <% ############################################ %>
</head>

<body>
<%= "<div class='raptor-editable'>".html_safe %>


  <header id="header">
    <h1><a href="/"><i class="icon-sun"></i> {{ site.name }}</a></h1>
    <p>{{ site.description }}</p>
  </header>



  <div id="page">



    <div id="sidebar">
      <nav>
        <ul>
          {% for link in site.links %}
          <li><a target="{% if link.external %}_blank{% else %}_top{% endif %}" href="{{ link.url }}">{{ link.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>



    <div id="content">
      {{ content }}
    </div>



  </div>



  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.name }}. Powered by <a href="http://jekyllrb.com">Jekyll</a>, theme by <a href="http://www.webmaster-source.com">Matt Harzewski</a></p>
  </footer>
  <%= "</div>".html_safe %>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="/assets/js/jquery.mobilemenu.min.js"></script>

  <script>
    $(document).ready(function(){
      $('#sidebar nav ul').mobileMenu({'topOptionText': 'Menu', 'prependTo': '#sidebar nav'});
    });
  </script>



</body>
</html>
