<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/pygments.css" | prepend: site.baseurl }}">

    <%= "<style>".html_safe %>
    <%= render file: "./app/views/sites/#{@directory}/css/main.css" %>
    <%= render file: "./app/views/sites/#{@directory}/css/pygments.css" %>
    <% ############################################ %>
    <%= "<style>".html_safe %>
    <%= render file: "./vendor/assets/stylesheets/froala_editor.min.css" %>
    <%= render file: "./vendor/assets/stylesheets/froala_style.min.css" %>
    <%#= stylesheet_link_tag "/stylesheets/raptor-front-end.min.css" %>
    <%= "</style>".html_safe %>
    <%= "<link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css'>".html_safe %>
    <%= "<script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>".html_safe %>
    <%= render_file "./vendor/assets/javascripts/froala_editor.min.js" %>
    <%#= javascript_include_tag "/assets/javascripts/raptor.min.js" %>
    <%= "<script type='text/javascript'>".html_safe %>
    <%= "$(function() { $('body').editable({inlineMode: true}) });".html_safe %>
    <%#= "raptor(function($) { $('.raptor-editable').raptor() });".html_safe %>
    <%= "</script>".html_safe %>
    <% ############################################ %>
</head>
